[2022-06-21 09:25] GregBrimble commented on #1318
I like it!

Two points:

- > Hash of the current project root dir (i.e. location of nearest `package.json` if present, `pwd` otherwise)

    `package.json` rather than `wrangler.toml`?

- > If they clone a new project into an old path, they might get a stale cache & have to delete it

    Depending on the file system/OS, we could get the stat of the cache and the directory and purge the cache if i

[2022-06-21 11:13] barosl commented on #1316
Yeah, I still want this, having been following this issue for years. As you said, it should be relatively easy to create a `Dockerfile` for this. Here's what I'm using personally:

[code]

Nothing remarkable, really. The sole reason why I want this is not due to the difficulty, but I want some authoritative sources of the Docker images I use.

[2022-06-21 13:22] timabb031 opened #1324 "🐛 BUG: console error/warn messages aren't visible in the console when using local mode"
### What version of `Wrangler` are you using?

2.0.14

### What operating system are you using?

Windows

### Describe the Bug

This is a very minor issue that I noticed recently.

Given the following worker...

[code]
If you run `wrangler dev --local`, only messages from the debug/log/info calls are output to the console (error/warn messages are missing).

[code]

This issue appears to affect loc

[2022-06-21 13:47] petebacondarwin commented on #1318
I feel bad filling up the config directory with these cache files without a well defined clearing functionality.
I feel like the `node_modules/.cache` approach is safer, since it will be naturally cleaned up.

[2022-06-21 14:09] timabb031 commented on #1324
Ah right, yes that makes sense!  Happy to submit a PR if you think it's worth changing / close the issue if not.

[2022-06-21 14:09] sidharthachatterjee commented on #1282
Hey there! Thank you for this bug report.

This isn't a wrangler issue per se but is indeed a bug in how we server requests at the moment on Pages. Nonethless, we've created a ticket internally and are on it.

I'll keep this open and give you a heads up once we ship it. Cheers!

[2022-06-21 14:50] petebacondarwin commented on #1324
Go for it @timabb031

[2022-06-21 14:53] Hexstream commented on #1282
Perfect, thanks!

[2022-06-21 16:13] geelen commented on #1318
Rather than using lots of files, then, we could store a single JSON file, with a TTL for each entry (keeping the same semantics of using the hash of the `pwd` and `env` to keep config separate, just as a top-level key now instead). Every time the config is loaded, the TTL of the current project could be extended, and any other entries that have expired can be pruned.

Then a user can nuke their en

[2022-06-21 21:34] Cherry commented on #1244
The change in #1325 appears to work great, thanks very much! I ran the follow:
[code]
and was able to see the `x-test` header when using the new wrangler version both in prod and dev, and an exception in prod when using the current release version, as expected. Woot! 🎉

[2022-06-21 22:26] wallslide opened #1328 "🚀 Feature Request: Report bundle/gzip size even on wrangler publish error"
### Describe the solution

Currently, when there is an error such as:
[code]
The bundle and gzipped sizes that would normally be shown are omitted (even on `wrangler@beta`). This makes it difficult to know if bundle size was the source of the error. I propose to show the bundle and gzip sizes even when the publish command fails.

FYI: if you have this issue and add `--dry-run` then you can see the

[2022-06-21 22:33] threepointone commented on #1328
Good catch!

[2022-06-22 01:02] leviwolfe commented on #1108
Updating to wrangler 2.0.14 has had no effect on success rates. Today for example, using the CLI in a GitHub Action succeeded only 3 times out of 12 attempts. Wrangler does seem smarter about not re-uploading files, which at least makes it fail faster with the "unknown error" afterwards:

[code]

[2022-06-22 04:03] kensnyder commented on #1304
@threepointone In my personal use case, I wanted to write code that worked on both on NodeJS and Cloudflare Workers. Why? I don't like the risk of writing an entire app, not knowing if I could fit it into the max build size and max execution time. With Wrangler 1, it was surprisingly easy to make stubs that worked cross platform.

But the bigger draw is potentially for the reverse situation: apps

[2022-06-22 06:31] petebacondarwin opened #1329 "🐛 BUG: allow `route` setting to be empty string"
### What version of `Wrangler` are you using?

2.10.14

### What operating system are you using?

All

### Describe the Bug

The following wrangler.toml is valid in Wrangler 1:

[code]

In Wrangler 2 it is reported as invalid. For backward compatibility, should we allow this to be equivalent to not setting the route?

[2022-06-22 06:45] threepointone commented on #1329
I guess. Probably with a warning. Pretty silly behaviour by wrangler 1 tbh, but we should "support" the miss on our part.

[2022-06-22 12:19] #1244 closed

[2022-06-22 12:20] sidharthachatterjee commented on #1244
No, thank _you_ very much! We appreciate you. I'll give you a heads up when we have a released version!

[2022-06-22 12:33] sidharthachatterjee commented on #1282
This should now be fixed and should work perfectly! Feel free to verify and close the issue. Cheers!

[2022-06-22 13:02] #1258 closed

[2022-06-22 15:45] Hexstream commented on #1282
I can confirm that this now works, and (as expected) I didn't even need a redeploy!

Thank you for the fix and for the notification!

Great experience on my first report, you'll see me around! :)

[2022-06-22 16:22] petebacondarwin commented on #994
@allsey87 - created an issue to track that https://github.com/cloudflare/cloudflare-docs/issues/4892. I am sure that a PR would be welcome.

[2022-06-22 16:24] JacobMGEvans opened #1333 "FEAT: `--asset` should resolve relative to cwd, not wrangler.toml"
### What version of `Wrangler` are you using?

2.0.15

### What operating system are you using?

Mac

### Describe the Bug

We resolve the Asset directory relative to the location of wrangler.toml. We probably shouldn't do that when the bucket is passed via --asset, it should resolve relative to process.cwd().

[2022-06-22 17:17] Hexstream opened #1334 "Redirect source URLs ending in a slash should also match slashless URL"
### What version of `Wrangler` are you using?

2.0.15

### What operating system are you using?

Linux

### Describe the Bug

It is widespread standard practice to redirect "directory" URLs not ending in a slash to the equivalent (canonical) URL ending in a slash, provided the directory index exists, and Cloudflare Pages already does so.

For instance, `https://www.example.com/foo` would typically

[2022-06-22 17:19] sidharthachatterjee commented on #1244
@Cherry It's now out in `wrangler@2.0.15` 🎉

[2022-06-22 18:00] Cherry commented on #1244
Awesome, thank you!!

[2022-06-22 18:30] #1333 closed

[2022-06-23 01:33] Hexstream opened #1338 "🐛 BUG: `wrangler pages dev` throws 404 for URL with unicode character"
### What version of `Wrangler` are you using?

2.0.15

(**edit**: issue persists in 2.0.24)

### What operating system are you using?

Linux

### Describe the Bug

A directory with name `ń` (`%C5%84`) is served correctly with `wrangler pages publish`,
but throws a 404 when accessed with `wrangler pages dev`.

[2022-06-23 07:24] samlaycock opened #1339 "🐛 BUG: `URLPattern` incorrectly throws an error when constructed with a valid URL pattern string"
### What version of `Wrangler` are you using?

2.0.15

### What operating system are you using?

Mac

### Describe the Bug

When passing a valid (according to Chrome's implementation at least) URL pattern string to the `URLPattern` constructor, it will incorrectly throw saying the string is invalid.

Reproduction (this line anywhere in executing worker code):

`new URLPattern("http{s}?://test.some

[2022-06-23 07:58] #1328 closed

[2022-06-23 09:57] petebacondarwin commented on #1339
I cannot reproduce this problem.
Here is a repository you can try: https://github.com/petebacondarwin/test-url-pattern

Run

[code]

When I run that I see that the URLPattern instantiates correctly and then matches the URL I pass to it.

[2022-06-23 10:01] petebacondarwin commented on #1303
So it seems that in Cygwin/MING64/"Git bash" environments instead of returning `undefined` or `false` for `process.stdin.isTTY` you get an exception thrown with the `stdin is not a tty` message, right?

I haven't got my Windows machine to hand to test this.

This seems to be a bug in how node is interfacing with the terminal. But if this is the case, we could be a bit more tolerant and change the

[2022-06-23 11:12] threepointone commented on #1339
Quick question - are you using Pages?

[2022-06-23 13:04] samlaycock commented on #1339
Sorry, completely my fault, I was not paying attention to how the `URLPattern` was being constructed. All working fine. Thanks for the quick response!

[2022-06-23 13:04] #1339 closed

[2022-06-23 14:28] mettke opened #1341 "🐛 BUG: Uncaught TypeError: Cannot read properties of undefined (reading 'memory')"
### What version of `Wrangler` are you using?

2.0.15

### What operating system are you using?

Linux

### Describe the Bug

We're using wrangler2 in combination with rust. Our stack is:
[code]

When we try to `wrangler publish` we get the error:
[code]

The same worker worked with `worker-rs: 0.0.9`

I'm happy to provide more information, but I'm not sure what you need to get a better grip of th

[2022-06-23 14:47] petebacondarwin commented on #1341
I believe the error appears to be from inside undici (the library providing `fetch`): https://github.com/nodejs/undici/blob/c8e4f3c670b368442e5ab040ab00af50a5319eb5/lib/client.js#L501

which would indicate that the llhttp object is `undefined`.

That object is created by instantiating a Wasm module: https://github.com/nodejs/undici/blob/c8e4f3c670b368442e5ab040ab00af50a5319eb5/lib/client.js#L324-L

[2022-06-24 05:17] #1067 closed

[2022-06-24 06:29] threepointone opened #1345 "RFC: `node_compat` next steps"
We've landed preliminary support for node.js compatibility in 2.0, powered by [@esbuild-plugins/node-modules-polyfill](https://www.npmjs.com/package/@esbuild-plugins/node-modules-polyfill)/[@esbuild-plugins/node-globals-polyfill](https://www.npmjs.com/package/@esbuild-plugins/node-globals-polyfill). We can also auto detect usage of node built-ins, and suggest to the user to add `node_compat = true

[2022-06-24 06:53] evanderkoogh commented on #1345
I would have to dive into both crypto libraries again, but I am reasonably sure that it will be extremely hard to polyfill the nodejs `crypto` library with the WebCrypto one, because the NodeJS one is synchronous and the WebCrypto one asynchronous if I remember things correctly..

And I am also pretty sure that providing _runtime_ support for polyfills is going to be a dependency nightmare.. Where

[2022-06-24 07:00] threepointone commented on #1345
There are inherent tradeoffs, and we're aware of them, but a best effort approach is better than not having anything at all for people who want to use libraries in the ecosystem. The consequence of not having a blessed solution is that people will try _anyway_.

[2022-06-24 08:00] threepointone commented on #1196
Fixed via https://github.com/cloudflare/wrangler2/pull/1207#issuecomment-1165310921

[2022-06-24 08:00] #1196 closed

[2022-06-24 09:03] threepointone opened #1346 "RFC: `wrangler pull <name>` (and alternatives)"
When developers use Workers, they're commonly onboarded by creating a new Worker in the dashboard itself (by clicking on the "Create a Service" button). The browser-based editor is pretty good, it even has autocomplete, and the sheer efficiency of going from code to production in seconds is honestly amazing. Indeed, some folks use the dashboard editor as their _primary_ development experience.

Ho

[2022-06-24 09:47] WalshyDev opened #1347 "🚀 Feature Request: Support selecting HTTP/HTTPS for pages dev"
### Describe the solution

We should be support starting local dev (`wrangler pages dev`) with HTTPS. Wrangler local dev (`wrangler dev --local`) already supports this through `--local-protocol` (and `local_protocol` in wrangler.toml).

[2022-06-24 09:50] mettke commented on #1341
I was able to create a minimal repo. At least I hope that you now will have the same problem as I have.

### Reproduce

1. Check out https://github.com/mettke/worker-0.10-test
2. Check that worker-build 0.0.6 is installed `cargo install worker-build --version 0.0.6`
3. Check wasm-pack version
[code]
4. Check wrangler version
[code]
5. Run `worker-build --release`
6. Run `wrangler2 dev`
7. Turn on

[2022-06-24 11:20] rozenmd commented on #1346
I love this idea, almost reminds me of create-react-app's `eject`.

IMO we should start here. Someone comes along that has only been developing in the dashboard, hits "download as project", it becomes an on-ramp to getting started with using wrangler for developing their workers.

(I'm not fully across how env vars work atm) am I right in thinking that it's possible to have a situation where envir

[2022-06-24 15:29] petebacondarwin commented on #1341
Awesome reproduction @mettke! Thanks. I can confirm that I see the error.
It appears that there is a problem in the shim.mjs.  These lines:

[code]

execute before

[code]

causing the error.
I think that those lines above are being hoisted too high for some reason.
We need to dig into `worker-build` I think.

[2022-06-24 20:40] wgyt commented on #1303
Yeah, looking at a few Node.js issues, including https://github.com/nodejs/node/issues/3006, it seems as if Node itself doesn't play well with winpty. However, running the commands in https://github.com/cloudflare/wrangler2/issues/1303#issuecomment-1160016579 while appending .exe (which bypasses winpty) to Node makes Node return `undefined` instead of `stdin is not a tty`.

This code change seems

[2022-06-25 11:25] GregBrimble commented on #938
This has been fixed in [2.0.15](https://github.com/cloudflare/wrangler2/pull/1284).

[2022-06-25 11:25] #938 closed

[2022-06-25 11:26] GregBrimble commented on #1087
This should be fixed as of [2.0.15](https://github.com/cloudflare/wrangler2/pull/1284).

[2022-06-25 11:26] #1087 closed

[2022-06-25 11:31] GregBrimble commented on #1225
This should be fixed in [2.0.15](https://github.com/cloudflare/wrangler2/pull/1284).

[2022-06-25 11:31] #1225 closed

[2022-06-25 11:35] GregBrimble commented on #846
Closing this in favor of #1074.

[2022-06-25 11:35] #846 closed

[2022-06-25 11:41] GregBrimble commented on #1178
You may be interested in #898 which is actively in progress and will hopefully be released soon.

We're still very much in the discussions stage about how we want to do config for Pages projects. It might be a `wranger.toml`, or something else entirely.

[2022-06-25 11:44] GregBrimble commented on #1118
The API token created must have rights for the account and project you're trying to edit to. But this is a bit of a digression from the originally reported issue for `wrangler secret put`, so please create another issue to discuss `wrangler pages publish` if you're having problems.

[2022-06-25 20:16] #898 closed

[2022-06-26 19:57] threepointone opened #1356 "chore: consolidate `config` and `args`"
There's a bit of tension in the way we read "configuration" right now.

- We read config from a `wrangler.toml` file via the `readConfig()` function, which returns a `Config` object.
- Ae also read configuration from cli args, which have similar (but not the same) names for fields. Notably, we don't apply validation to those cli args (except for some that we ask yargs to do, but not as extensively

[2022-06-26 20:26] petebacondarwin commented on #1356
💯

[2022-06-26 20:28] petebacondarwin commented on #1341
@caass any ideas what changes in `workers-rs` might have caused this?

[2022-06-27 00:43] kotx commented on #1338
This issue seems to be present for ALL filenames that are url-encoded? Even files with spaces in the names 404.

[2022-06-27 14:30] booleanbetrayal commented on #1242
This is blocking our adoption of Direct Push. Is this actively being worked on?

[2022-06-27 15:38] rozenmd opened #1358 "🐛 BUG: inconsistent log level for `wrangler dev`"
### What version of `Wrangler` are you using?

2.0.15

### What operating system are you using?

Mac

### Describe the Bug

In Remote mode, `packages/wrangler/src/proxy.ts`, there's a:
[code]
Which correctly respects the runtime log level.

Whereas fetching a local-mode worker:
[code]

Fetching the same worker in remote-mode:
[code]

In summary, it prints an extra `GET / 200 OK (4.10ms)` in local

[2022-06-27 21:46] JacobMGEvans commented on #1356
I started doing something like this with `envName` which I think could be a reference for how we could

https://github.com/cloudflare/wrangler2/blob/main/packages/wrangler/src/config/validation.ts#L116-L117

[2022-06-28 02:39] Warfields commented on #907
Update, found the bug in the runtime. V8 changed how it returns somethings from the profiler.

[2022-06-28 08:25] #1303 closed

[2022-06-28 09:10] #1298 closed

[2022-06-28 10:08] rozenmd commented on #1358
Thanks for the clarification @mrbbot, btw is it just me or does this snippet override any `log` value passed in?

https://github.com/cloudflare/miniflare/blob/216c1f46aa3d030ccfb343fae29093df47a267f1/packages/miniflare/src/cli.ts#L81-L88

I'm trying `...(isApi && { log: new NoOpLog() }),` and seem to be getting the same logging as before

[2022-06-28 12:14] RobertBroersma commented on #1108
I'm not 100% sure if it is, but for me this issue appears to be fixed 😁

[2022-06-28 12:55] threepointone commented on #1320
Let's leave this open till we ship a fix in the runtime

[2022-06-28 13:26] jfsiii commented on #975
I wonder if https://github.com/cloudflare/wrangler2/pull/992 addresses this

[2022-06-28 14:10] Aprillion opened #1362 "🐛 BUG: A request to the Cloudflare API failed [code: 10021]"
### What version of `Wrangler` are you using?

2.0.15

### What operating system are you using?

Mac

### Describe the Bug

When I run `wrangler publish` for my Remix project at commit https://github.com/Aprillion/stampy-ui/tree/d043537b673cb10f6618ecc9fca4606a8e7750bc I see following error message:

[code]

No idea how to investigate what exactly went wrong and how to fix / workaround the problem

[2022-06-28 14:51] hectcastro commented on #1242
I believe that I am hitting this issue as well. The following redirect rule is the only rule in my `_redirects` file:

[code]

When deploying using `wrangler pages publish`, the rule does not appear to take effect. However, when I use the Cloudflare Pages builders to deploy the same Git revision, the rule functions.

The details above about the inconsistencies in the UI appear to remain also. Deta

[2022-06-28 14:59] rozenmd commented on #1358
Managed to workaround this issue, so closing it

[2022-06-28 14:59] #1358 closed

[2022-06-28 15:21] threepointone commented on #1362
If you run `npx wrangler build`, it'll output the bundle that gets uploaded into `./dist'. Can you inspect that see what's happening on lines 39971, 40043?

[2022-06-28 15:48] Aprillion commented on #1362
thanks for the tip!

[code]

this code would get executed in `useEffect` => only inside the browser and not during server side rendering in a cloudflare worker

I will try a workaround using custom object `{abort: false}` instead of the real `AbortController`

is `wrangler publish` trying to run the code or is this error from some static analysis (that could be turned off or not)?

[2022-06-28 16:54] threepointone commented on #1202
Unassigning myself from this so I can focus on some other work right now. Up for grabs.

[2022-06-28 19:18] petebacondarwin commented on #975
Yes I think that this has been addressed as far as we plan, with the only next step being to fix the actual bug in the runtime, which is outside of the scope of Wrangler but is being tracked in https://github.com/cloudflare/wrangler2/issues/1320

[2022-06-28 19:18] #975 closed

[2022-06-29 01:45] UnsungHero97 opened #1366 "🐛 BUG: wasm code generation disallowed by embedder [code: 10021]"
### What version of `Wrangler` are you using?

2.0.15

### What operating system are you using?

macos catalina 10.15.7

### Describe the Bug

Running `npx wrangler publish` throws the following error:

[code]

I'm not using wasm things myself but perhaps some dependency is? I'm not sure where to look. Also, it's hard to debug the build with `publish --dry-run --outdir=build` because there is no `

[2022-06-29 02:41] kuno989 opened #1367 "🐛 BUG: 413 Request Entity Too Large"
### What version of `Wrangler` are you using?

2.0.15

### What operating system are you using?

Mac

### Describe the Bug

Wrangler dev works fine, but returns 413 error when deploying.

✘ [ERROR] Received a malformed response from the API

  <html>
  <head><title>413 Request Entity Too Large</title></head>
  <body>
  <center><h1>413 Request En... (length = 184)

[2022-06-29 02:44] kuno989 commented on #1367
✘ [ERROR] Received a malformed response from the API

  <html>
  <head><title>413 Request Entity Too Large</title></head>
  <body>
  <center><h1>413 Request En... (length = 184)

[2022-06-29 04:02] Plausible0Bug opened #1368 "🚀 Feature Request: setting environment variable for pages"
### Describe the solution

I'm currently migrating some worker sites that feels more appropriate for pages.

I have a following toml file for one of the worker sites:

[code]

Which will figure out release version and inject into `wrangler.toml` during prebuild script.

However according to https://github.com/cloudflare/wrangler2/blob/b2c2c2b86278734f9ddf398dbb93c06ffcc0d5b0/packages/wrangler/src/

[2022-06-29 09:30] petebacondarwin commented on #1367
What is the size of deployed bundle? It should be shown in the console when you run `wrangler publish`.

[2022-06-29 13:34] s1mple commented on #1086
Just pinging this as still open on wrangler@2.0.15:

[code]

[2022-06-29 14:00] GregBrimble commented on #1182
Pages has two types of relevant bindings:

- Durable Object namespace bindings
- Service bindings (coming soon)

The service bindings one sounds like it'll be well covered by what you've described above. Directly binding to a Durable Object namespace is a bit more complicated though. Basically, we need to reference a Workers Service somewhere, and specifically a DO class in there. The unofficial s

[2022-06-29 14:19] GregBrimble commented on #1368
Dupe of #1178

[2022-06-29 14:19] #1368 closed

[2022-06-29 14:43] elithrar opened #1370 "🐛 BUG: Pub/Sub .epilogue only outputs on top-level `--help`"
### What version of `Wrangler` are you using?

wrangler@0.0.0-f6053f1

### What operating system are you using?

macOS

### Describe the Bug

**Problem**: When using `wrangler pubsub <subcommand>`, the `.epilogue()` with a beta warning does not show. Instead, it does show when you use `--help` on second or third -level subcommands, and is invoked multiple times (once for each command in the group)

[2022-06-29 15:17] petebacondarwin opened #1371 "🚀 Feature Request: describe the current permissions in `wrangler whoami`"
### Describe the solution

When running `wrangler whoami` we should display a list of allowed permissions for the current authenticated user (or API token). This will help with scenarios where other commands fail with authorisation errors from the backend API.

[2022-06-29 23:34] jazoom opened #1376 "🚀 Feature Request: Don't open a browser tab automatically on `wrangler pages dev`"
### Describe the solution

I want `wranger` to serve up a `functions` directory. I don't want it to do anything else. The framework (Svelte) is handling the hot-reloading of code.

Obviously I don't want a browser tab to open to a pointless location that has no content (http://localhost:8788). The `--headless` option that exists elsewhere in `wrangler` doesn't work here.

As a side note, it was un

[2022-06-30 07:35] petebacondarwin commented on #1376
You can prevent `wrangler pages dev` from opening a browser by setting the `BROWSER` environment variable to `none`.

[2022-06-30 07:41] rozenmd commented on #1376
We should probably document that 😬 - https://developers.cloudflare.com/workers/wrangler/commands/

[2022-06-30 08:00] tbgse commented on #1319
@petebacondarwin so happy to see this in the wrangler 2 repo, do you have any idea when / if this feature might be picked up? This is one of our biggest pain points right now working with wrangler since we have to manually set a lot of disabled routes through the cloudflare UI, which consumes a lot of time and is a very error prone process. Would really appreciate an update 🙏

[2022-06-30 09:36] #1376 closed

[2022-06-30 10:25] jakubadamw commented on #1341
Seems related to https://github.com/cloudflare/workers-rs/issues/204.

[2022-06-30 12:39] rozenmd opened #1379 "🚀 Feature Request: Document wrangler's proxy support"
### Describe the solution

I added proxy support in [v2.0.7](https://github.com/cloudflare/wrangler2/releases/tag/wrangler%402.0.7), and I forgot to document it

[2022-06-30 12:54] ElijahKotyluk commented on #1194
@sidharthachatterjee I took some time to debug and find a solve for the expiring JWT on a fork, this seems to only be an issue for my larger projects I am deploying through direct uploads. Even with the JWT issue resolved, the uploads are still taking quite a bit longer than I would hope.

[2022-06-30 19:09] drewdecarme opened #1380 "🐛 BUG: Getting `Missing script name` when trying to add a new secret"
### What version of `Wrangler` are you using?

2.0.15

### What operating system are you using?

Mac

### Describe the Bug

When trying to add a secret using `wrangler secret put ENV_VAR`, it keeps erroring out to the below:

![image](https://user-images.githubusercontent.com/20549969/176758572-96f4cb5d-98c5-4b44-8ec6-cc14f895da71.png)

[2022-06-30 21:30] tklae commented on #976
Not the OP but experiencing the same problem, just tried it with `wrangler@beta` and it works there.

[2022-07-01 07:26] threepointone commented on #976
I suspect this PR https://github.com/cloudflare/wrangler2/pull/1213 might have fixed this issue. Could you check, @miunau?

[2022-07-01 07:30] threepointone commented on #1035
This is a lot better now, thanks @petebacondarwin. closing.

[2022-07-01 07:37] threepointone commented on #907
assigning to @Warfields

[2022-07-01 07:44] threepointone commented on #1380
Secrets are attached to Workers, so `wrangler secret` commands have to be run inside a project with a `wrangler.toml` (with a `name` field inside it), or you can explicitly pass the name of the worker you're trying to attach the secret to wit `wrangler secret put ENV_VAR --name my-script-name`  (replacing `my-script-name` with the name of your worker)

One thing we ca do here is log a better, acti

[2022-07-01 09:04] threepointone opened #1381 "chore: `npm run dev` inside packages/wrangler shouldn't block on tsc failing"
{details tbd)

[2022-07-01 09:07] #1341 closed

[2022-07-01 11:26] rozenmd opened #1382 "🐛 BUG: API should have a separate entrypoint"
### What version of `Wrangler` are you using?

wrangler@beta

### What operating system are you using?

Mac

### Describe the Bug

`packages/wrangler/src/cli.ts` is a bit of a hack for an entry point, we should split the CLI and API.

[2022-07-01 11:28] rozenmd opened #1383 "Enhancement: API/unstable_dev should expose a fetch() function"
From https://github.com/cloudflare/wrangler2/pull/1350#discussion_r911830385:
It might be nice to hide the undici library, and also the underlying port, side of this and provide:

[code]

This method could take a path (or even a full URL if you wanted to simulate a custom route). This would also mitigate the case where port 8787 was not available and we ended up jumping on a different port, which

[2022-07-01 11:30] rozenmd opened #1384 "Enhancement: API/unstable_dev needs tests"
From https://github.com/cloudflare/wrangler2/pull/1350#discussion_r911850778:
Something like:
[code]

[2022-07-01 11:31] rozenmd opened #1385 "🐛 BUG: API/unstable_dev's stop() usage of process.exit(0) kills jest"
### What version of `Wrangler` are you using?

wrangler@beta

### What operating system are you using?

Mac

### Describe the Bug

while `.stop()` is nice to stop the process from running in the background, its use of `process.exit(0)` actually kills the entire node process and jest with it.

[2022-07-01 11:41] threepointone commented on #1366
Cloudflare Workers deals with wasm differently than other runtimes. Specifically, you can't initialise an instance from a string like above, it has to be a separate modules that's imported. Here's an example https://github.com/cloudflare/wrangler2/blob/dee034b5b8628fec9afe3d1bf6aa392f269f6cd4/fixtures/wasm-app/worker/module/export_wasm.js#L2-L10

That library client-zip appears to have been writte

[2022-07-01 11:41] #1366 closed

[2022-07-01 11:44] threepointone commented on #1382
I dunno, doesn't seem _that_ hacky. But happy to discuss, just want to make sure the solution here doesn't make things even more complicated internally.

[2022-07-01 11:59] threepointone commented on #1362
Odd error. While we do "run" a worker when we upload it, we definitely don't send it any requests. (And I assume the code you have / remix runs doesn't run outside of a request). But more importantly, react shouldn't be running code inside effects on the server anyway, so I suspect their server detection logic might be buggy here (they might be detecting a worker environment as a "browser"). I'll

[2022-07-01 11:59] #1362 closed

[2022-07-01 14:18] rozenmd opened #1387 "Enhancement: API/unstable_dev should export types"
It's annoying to import wrangler in .ts files and not get types with it.

[2022-07-01 15:43] rozenmd commented on #1382
I just want `wrangler-dist/api.js` to exist at this point - I guess we want a separate esbuild build @threepointone ?

[2022-07-01 16:32] caass commented on #1382
What I'd like is to have command functionality encapsulated in different modules, and then maybe a `lib.ts` or `index.ts` or something that re-exports them. Then `cli.ts` or whatever could just wire up those commands to yargs. Should I put together a POC PR for this?

[2022-07-01 17:00] threepointone commented on #1382
Thinking about this more, I see how you both are right. Go for it @caass

[2022-07-01 17:01] threepointone commented on #1382
Try to keep it simple. I'd start with just the api/cli entry points, and refactor the commands later.

[2022-07-01 17:11] robinsloan opened #1388 "🐛 BUG: DELETE request with a body fails in `wrangler dev`"
### What version of `Wrangler` are you using?

2.0.15

### What operating system are you using?

Mac

### Describe the Bug

I have a worker, authored in Typescript, that responds at a DELETE endpoint.

When I run the worker in production, with `wrangler publish`, requests to the DELETE endpoint work as expected.

When I run the worker in development, with `wrangler dev`, requests to the DELETE end

[2022-07-01 23:25] dgokcin commented on #1338
I am having the same issue.

[2022-07-01 23:37] ghgrafos opened #1390 "🐛 BUG:[ERROR] Processing wrangler.toml configuration:"
### What version of `Wrangler` are you using?

2.0.15

### What operating system are you using?

Linux

### Describe the Bug

    - 😶 Ignored: "type":
      Most common features now work out of the box with wrangler, including modules, jsx,
  typescript, etc. If you need anything more, use a custom build.
    - Deprecation: "zone_id":
      This is unnecessary since we can deduce this from routes

[2022-07-02 09:01] threepointone commented on #1367
The bundle size we log in the terminal is only for the worker, whereas this error that OP is seeing refers to the bulk upload of assets. I have a (probable) fix up here https://github.com/cloudflare/wrangler2/pull/1392

[2022-07-02 09:02] threepointone commented on #1390
It's not clear from your issue what command you ran, and what the error is. Could you share some more details about what happened?

[2022-07-02 09:19] threepointone commented on #1388
That's extremely weird. I'm not able to reproduce this. I made a worker like so:
[code]
and ran it with `wrangler dev`. In another tab, I made another script like so:
[code]
and ran it with `node`.  It worked fine, and logged
[code]
as expected.

(I also tried with a service-worker format worker, like so
[code]
and it worked as expected)

So I don't think there's a problem in wrangler per se, but

[2022-07-02 14:35] robinsloan commented on #1388
Ah, I figured out the difference:

Non-local `worker dev` returns 400, never entering the worker code at all, when the DELETE request has a body. Local `worker dev` and the published worker process the request as expected.

And, yes, I know DELETE bodies are weird and undefined -- so, it would be fine for Workers to say, as a policy, "You can't use them, ever." It's the inconsistent handling that'

[2022-07-02 15:27] threepointone commented on #1388
Well damn. Thanks for digging into this. I absolutely hate behaviour differences between dev and production environments. I'm going to escalate this internally, thanks so much for the added information. I'll leave this open until I have an update on our next steps.

[2022-07-02 15:58] awthwathje opened #1394 "🚀 Feature Request:"
### Describe the solution

Hello and first of all a huge thank you for building this groundbreaking platform!

I want to file a quick suggestion to enhance Wrangler CLI. So more stuff could be done without the need to access the Dashboard.

## Deployment Rollback

This feature is already available in the Dashboard, so porting it to Wrangler shouldn't be a big effort, but it can make a big impact t

[2022-07-02 20:43] jbmanning commented on #1182
One thought I had here is that I would like to be able to switch between versions. Sometimes although I have wrangler dev running in two related workers, I might be working on separate projects in each.

I'd be concerned if wrangler made too many assumptions about which project I want to reference at a time.

Webpack module federation takes an approach where you can switch out bundles (local vs re

[2022-07-03 10:50] Vladi-ed commented on #1162
It's not clear what's the difference between
`wrangler pages publish ./_site --project-name site`
and
`wrangler publish --assets _site `

[2022-07-03 16:37] kuno989 commented on #1367
I found the reason for the bug.
When wrangler builds, the build file name is newly created, so the bundle size continues to grow.
[origin] index-JDIVOPHU.js 630kb
[new] index-UO3TSDNU.js 630kb ... total 1260kb

Eventually, this will add duplicate files, which will increase the bundle size.

Deleting the build file and creating a new one solved the problem.
In the end it was my mistake. sorry.

[2022-07-03 16:37] #1367 closed

[2022-07-03 17:52] mangs commented on #1162
@Vladi-ed `wrangler pages` is [specifically for Cloudflare Pages](https://developers.cloudflare.com/workers/wrangler/commands/#pages). `wrangler publish` is for Cloudflare Workers.

[2022-07-03 22:20] gkiely opened #1396 "🚀 Feature Request: wrangler dev --clear-console flag"
### Describe the solution

`[c]` Is an option in the dev menu to clear the terminal/console.

When using `wrangler dev --clear-console`  or `wrangler dev --clear` the terminal is cleared immediately after a developer presses save, before updating the terminal.

[2022-07-04 04:47] LifeToolbox369 opened #1397 "🐛 BUG: 413 Request Entity Too Large"
### What version of `Wrangler` are you using?

2.0.15

### What operating system are you using?

Mac

### Describe the Bug

Can't publish large files

[2022-07-04 06:36] threepointone commented on #1397
Could you share more details? What kind of file are you trying to publish? What command did you run? What is the size of the file?

[2022-07-04 07:49] threepointone commented on #1370
Having a look at this today

[2022-07-04 10:55] threepointone opened #1400 "chore: write docs for commands/config in repo"
Our main, user facing reference for documentation is at https://developers.cloudflare.com/workers/wrangler/. This is good, and will still remain the primary interface.

However, we face a bit of a problem in that we're not actively updating those docs ourselves, and as such those docs are lagging. Further, those docs are a little light on details, and we'd like a richer reference for superusers, a

[2022-07-04 11:24] HamishWHC commented on #70
Any updates on this? If not does anyone know of workarounds (early enough I could switch from Next.js if I must)? Would like to get this working in my project.

[2022-07-04 12:09] threepointone commented on #1118
@DSSTrading I suspect your token expired, or it was just misconfigured. I'm going to close this issue, but feel free to drop any info if you want to discuss further and/or if we need to reopen this issue. . Further, do try with latest versions of wrangler, it may just have been fixed.

[2022-07-04 12:09] #1118 closed

[2022-07-04 12:12] threepointone commented on #420
There's nothing actionable we can do here really, so I'm going to close this issue. Thanks for filing it with a workaround @jahands!

[2022-07-04 12:12] #420 closed

[2022-07-04 12:17] threepointone commented on #1319
This will be a significant amount of work on the dashboard, so I can't be sure when it'll be prioritised. But I'm happy to discuss alternatives on the wrangler side. How would you feel if we went with @ObsidianMinor's suggestion, and we could optionally mark a route as disabled with the object syntax/form?

[2022-07-04 12:42] tbgse commented on #1319
Yes, the proposed solution by @ObsidianMinor to configure routes in the wrangler config file is exactly what we're looking for. It'd make our life so much easier.

[2022-07-04 12:56] threepointone opened #1402 "feat: implement `wrangler generate`"
Using this issue to track implementation of `wrangler generate`. My thoughts, though they're not set in stone, and we can haggle the details:

- `wrangler generate`, without any args, should be the same `wrangler init`
- `wrangler generate my-worker` should run `wrangler init my-worker`
- `wrangler generate project-name some-template` should run `npm init cloudflare project-name some-template`
- `

[2022-07-04 13:02] threepointone commented on #1319
I'll discuss this internally and we'll get back to this issue.

[2022-07-04 13:19] petebacondarwin commented on #1397
Duplicate of https://github.com/cloudflare/wrangler2/issues/1280 ?

[2022-07-04 13:26] threepointone commented on #1280
Could you try this with `wrangler@beta` and see if that solves your issue?

[2022-07-04 13:31] #1370 closed, assigned to threepointone

[2022-07-05 03:18] samhamilton commented on #1280
@threepointone yep looks good so far
`↗️  Done syncing assets`

[2022-07-05 06:53] threepointone commented on #1280
Very good, looks like we fixed it in https://github.com/cloudflare/wrangler2/pull/1392. I'll close this issue. We'll do a release later today, so it'll be more widely available. Thanks for filing!

[2022-07-05 06:53] #1280 closed

[2022-07-05 10:22] #1383 closed

[2022-07-05 10:22] #1384 closed

[2022-07-05 10:22] #1385 closed

[2022-07-05 10:28] rozenmd opened #1408 "Enhancement: API/unstable_dev needs to reliably be able to shutdown miniflare, and know when to send requests"

[2022-07-05 10:43] #300 closed

[2022-07-05 11:33] #1390 closed

[2022-07-05 11:34] #976 closed

[2022-07-05 11:38] threepointone commented on #1127
Closing this because of the reasoning, but happy to reopen if anyone disagrees.

[2022-07-05 11:40] threepointone commented on #230
Error logging is much more verbose and helpful now, so I'm closing this. Happy to revisit if there are specific suggestions.

[2022-07-05 11:40] #230 closed

[2022-07-05 11:41] threepointone commented on #1066
tracking https://github.com/cloudflare/miniflare/pull/289

[2022-07-05 12:27] jfsiii commented on #1320
@threepointone can you reopen this? I think the release notes closed it

[2022-07-05 15:03] Code-Hex opened #1411 "🐛 BUG: ReferenceError: KV is not defined"
### What version of `Wrangler` are you using?

2.0.16

### What operating system are you using?

macOS

### Describe the Bug

Module Syntax mode is fine (via env). but when I use Service Worker syntax, I faced error is `ReferenceError: KV is not defined`

## index.ts

[code]

## wrangler.toml

[code]

## Output (when commented out `console.log(KV)` line)

[code]

## Run Command

[code]

[2022-07-05 16:22] petebacondarwin commented on #1411
I note that you have not specified a valid `id` to a KV namespace in your `wrangler.toml`. Is that because you have removed it for the purposes of this report or have you not specified that in your reproduction?

[2022-07-05 22:32] threepointone commented on #1411
I'm going to close this since I've confirmed the suggested fix also works, but lemme know if it doesn't.

[2022-07-05 22:32] #1411 closed

[2022-07-06 00:51] Code-Hex commented on #1411
@threepointone Thanks!
It works on my environment.

[2022-07-06 05:23] tibotiber opened #1412 "🐛 BUG: secret is not defined in local dev"
### What version of `Wrangler` are you using?

2.0.16

### What operating system are you using?

Mac

### Describe the Bug

Hello, I'm facing an issue where wrangler in local dev tells me that my secret is undefined. Checking the Cloudflare dashboard confirms the secret its set, and `wrangler secret list` lists it as well. I believe the same code used to work, but it doesn't anymore. Any idea?

PS

[2022-07-06 06:10] tibotiber commented on #1412
Update: I got this solved using the (thus far) undocumented `.dev.vars` file as pointed to me [in the forum](https://community.cloudflare.com/t/help-secret-is-not-defined-in-local-dev/397005). Docs is on the way also so I'll close this - https://github.com/cloudflare/cloudflare-docs/issues/4770.

I'm understanding the first round of help request would be better in the forum or discord and move her

[2022-07-06 06:10] #1412 closed

[2022-07-06 06:52] threepointone commented on #1412
Glad you were unblocked!

[2022-07-06 12:04] rozenmd commented on #1382
Closing this for now as it's not necessary.

[2022-07-06 14:45] GregBrimble commented on #117
https://github.com/remix-run/remix/blob/ca382b16223e2766fe333b22f177550d2f9070fc/packages/remix-cloudflare-pages/worker.ts#L53-L54

[2022-07-06 14:55] GregBrimble commented on #1194
Hi @ElijahKotyluk , glad to hear you got it working on a fork. If you can, please put up a PR with your changes, but we have added some [refresh logic](https://github.com/cloudflare/wrangler2/blob/main/packages/wrangler/src/pages/upload.tsx#L280) a little while ago, so maybe this won't be necessary anymore with the latest wrangler versions?

We'll close this issue out in the meantime, but please r

[2022-07-06 15:11] caass opened #1416 "Include a package that renders chrome-devtools-frontend"

[2022-07-06 15:12] GregBrimble commented on #178
Old thing that might be related/useful: https://github.com/cloudflare/kv-worker-migrate

[2022-07-06 15:25] ElijahKotyluk commented on #1194
Hi @GregBrimble, thank you for the response. I just tested the latest and still hit issues with the refetch and speed.

I will get something up today, need to spend some time figuring out the test I broke.

The issue with the current implementation is that the way the error is being checked in the case the JWT expires won't pass, the error caught is a `ParseError` and the `error.code` that's being

[2022-07-06 15:33] GregBrimble commented on #1194
Ah, okay, thanks for that additional info! Absolutely feel free to put up whatever you have right now and we can help get it over the line 😊

[2022-07-06 16:00] rozenmd opened #1418 "Chore: refactor api/unstable_dev()'s types"
At the moment, `unstable_dev` takes an object of options, with the following type:

[code]

We should let folks use all options that `wrangler dev` exposes.

[2022-07-06 16:10] rozenmd opened #1419 "Chore: refactor local-mode-tests to use unstable_dev"
- We should prove `unstable_dev()`'s ability for integration testing by rewriting our local-mode tests to use it instead

[2022-07-06 16:11] rozenmd opened #1420 "Promote unstable_dev() to dev()"
This issue will track the issues required to promote `api/unstable_dev()` to `api/dev`

- We should rewrite our local-mode tests to use unstable_dev:
  - https://github.com/cloudflare/wrangler2/issues/1419
  - this is blocked until we implement a react-free version of `unstable_dev`, as it doesn't currently work in CI:
    - https://github.com/cloudflare/wrangler2/pull/1538
- https://github.com/cl

[2022-07-06 16:11] jahands opened #1421 "🐛 BUG: Unexpected fields found in top-level field: "kv-namespaces""
### What version of `Wrangler` are you using?

2.0.16

### What operating system are you using?

WSL (Ubuntu 20.04)

### Describe the Bug

I'm upgrading an old project from Wrangler 1 to Wrangler 2, and got the following error:
[code]
Looks like `kv-namespaces` got renamed to `kv_namespaces`, but there's no notice for this other than the error.

It would be helpful if we had a warning or error say

[2022-07-06 16:12] rozenmd commented on #1419
@caass you mentioned wanting to write tests 👀

[2022-07-06 16:21] threepointone commented on #1421
To clarify, looks like wrangler 1 supported `kv-namespaces` in addition to `kv_namespaces` https://github.com/cloudflare/wrangler/search?q=kv-namespaces, but it was never documented anywhere. We haven't renamed anything here. https://developers.cloudflare.com/workers/wrangler/cli-wrangler/configuration/#kv_namespaces We could add a specific warning for this.

[2022-07-06 16:23] threepointone commented on #1421
Ah, here it is https://github.com/cloudflare/wrangler/blob/746f8de5f1a015c15e9a91374e0156853a2f6ce7/CHANGELOG.md#L1393

quote:

  When KV namespace support was initially added to Wrangler, we documented using `kv-namespaces` in `wrangler.toml`. Unfortunately, the `-` was not consistent with other fields such as `zone_id` and `account_id`, so the decision was made to allow both `kv-namespaces` and

[2022-07-06 17:05] edmooney opened #1422 "🐛 BUG: A request to the Cloudflare API (/memberships) failed. [code: 9109]"
### What version of `Wrangler` are you using?

2.0.16

### What operating system are you using?

Linux (Manjaro)

### Describe the Bug

Steps 1-3 work fine per:
https://developers.cloudflare.com/pub-sub/get-started/guide/ - validated the pubsub token - "This API Token is valid and active".
exported the token variable to the console. and verified that the token has all account access with Editing r

[2022-07-06 19:50] YaBoiBurner commented on #1053
small addition to this - the old version of wrangler had a `$WRANGLER_HOME` environment variable which you could use to get around this for the most part (I had it set to `~/.config/wrangler`), while wrangler 2 doesn't.

[relevant code](https://github.com/cloudflare/wrangler/blob/master/src/settings/global_config.rs#L6-L16=)

Still, not a particularly high priority thing right now - Symlinking `~/

[2022-07-06 20:31] Skye-31 commented on #1233
Hi @Inrixia!

From some testing, this behaviour should be fixed on the latest version of wrangler (2.0.16), so I'll be closing this for now 🙂

If that doesn't make any difference, feel free to reopen this. If you could provide a minimal reproducible code sample with that, it would be very helpful for debugging

[2022-07-06 21:37] edmooney commented on #1422
I had upgraded wrangler, re-authenticated with wrangler login. account id: 9afa0a18632286ba47d3e1da53bb20e5

[2022-07-07 07:46] threepointone commented on #143
No one's asked for this, let's close this one and do something more targeted in the future

[2022-07-07 07:46] #143 closed

[2022-07-07 13:30] caass commented on #1420
😬 whoops sorry i came off strong, i understand !! i can remove my comment if you like :)

[2022-07-07 17:30] zegevlier opened #1428 "🐛 BUG: Could not resolve errors when using WASM on Windows"
### What version of `Wrangler` are you using?

0.0.0-859d6e7

### What operating system are you using?

Windows

### Describe the Bug

Whilst trying out the new [WASI on workers](https://blog.cloudflare.com/announcing-wasi-on-workers/), I was unable to use the new feature on Windows. I believe this is a Windows-specific issue, as it did not occur when using the exact same command with the exact sa

[2022-07-07 17:50] threepointone commented on #1428
Thanks for filing this issue in detail! I just published a new `wrangler@wasm` build to npm (`wrangler@0.0.0-aed7e33`) could you try it out and let me know if it fixes your problem?

cc @zebp / @byule

[2022-07-07 18:35] zegevlier commented on #1428
Just tried it, I get a different error now.

[code]
After some trouble setting up a test environment of wrangler2, I figured out that adding a `./` before both the `modulePath` and `wasmPath` (as in, `"./" + modulePath.replaceAll("\\", "\\\\")` fixed the issue. I haven't been able to test if this works on Linux, but I can confirm that, with this change, else seems to be fully operational on Window

[2022-07-07 18:43] threepointone commented on #1428
Thanks so much for digging in! I'm afk at the moment, will get back to this in a couple of hours

[2022-07-07 20:05] threepointone commented on #1428
But of a weird fix, but you're right that it works. So I've published yet another build (`wrangler@0.0.0-c0d7699`), that should fix it this time. I tested it on mac to make sure it didn't break anything, appears fine so far.

[2022-07-07 20:43] zegevlier commented on #1428
Seems to work for me! I'm very pleasantly surprised at how quickly this was resolved, thank you! Now I don't have to hassle with WSL 😄

[2022-07-07 20:43] #1428 closed

[2022-07-07 20:46] threepointone commented on #1428
Glad you're unblocked!

[2022-07-08 03:09] hunterloftis commented on #165
I'm the latest person to get stuck on this dev vs. prod parity) bug for hours before finding this thread.

+1 to documenting `env.ASSETS.fetch` in the Functions docs beyond the current limited blurb. Especially the failure cases!

In case it's useful to the next person to run into this, after trying the various suggestions here, the only combination that works reliably for me both locally (wrangle

[2022-07-08 11:12] rozenmd opened #1432 "🐛 BUG: API/unstable_dev race condition when running several `unstable_dev` commands at the same time"
### What version of `Wrangler` are you using?

wrangler@beta

### What operating system are you using?

Mac

### Describe the Bug

In CI, running tests with unstable_dev fails sometimes. Investigating why lead to the following discoveries:

This blows up with `TypeError: fetch failed`:
[code]

This works:
[code]

This fails with a jest timeout:

[code]

[2022-07-08 11:15] rozenmd commented on #1419
Working on this here: https://github.com/cloudflare/wrangler2/pull/1430

[2022-07-08 11:38] #1202 closed

[2022-07-08 15:07] threepointone opened #1435 "chore: run type extraction only in CI"
We currently run type extraction on all builds of wrangler, which is slow for local dev. We should make it happen only during CI, or when called explciitly

[2022-07-08 15:08] Skye-31 opened #1436 "🐛 BUG: Devtools does not receive console logs"
### What version of `Wrangler` are you using?

2.0.16

### What operating system are you using?

Windows

### Describe the Bug

Write a basic worker which uses some console logs, and open the devtools.
When it's loaded, make a request to your worker, and observe that the logs will be shown in the terminal, but not shown on the Devtool's console tab.

[2022-07-08 20:06] dgokcin opened #1437 "🐛 BUG: wrangler2 can not decode `[` and `]`"
### What version of `Wrangler` are you using?

2.0.16

### What operating system are you using?

Mac

### Describe the Bug

## Description
When I serve my next app statically with `wrangler pages dev out`, I believe wrangler is failing to decode `[id]` and throwing me a 404 error. When I examine the network tab of the developer console, I see that the failing request is to `%5Bid%5D`. However the

[2022-07-08 20:25] #1416 closed

[2022-07-09 14:03] lnxcz opened #1439 "🐛 BUG: No loader is configured for ".rs""
### What version of `Wrangler` are you using?

2.0.16

### What operating system are you using?

Fedora Linux 36

### Describe the Bug

Hey, just started using workers with Rust. When using wrangler I always get error if I want to start a development server using `wrangler dev src/lib.rs --local` (`npm run dev`) in [workers-rs](https://github.com/cloudflare/workers-rs). It does compile the project

[2022-07-09 15:05] threepointone commented on #1439
It looks like you used the instructions from [`workers-rs`](https://github.com/cloudflare/workers-rs#getting-started) to create your project. I see the problem here:
- The template that's being used, uses `src/lib.rs` as the entry point. wrangler doesn't support `.rs` files as entry points. This is reported here as well https://github.com/cloudflare/templates/issues/75
  - The fix is to make this

[2022-07-09 15:05] #1439 closed

[2022-07-09 16:23] edmooney commented on #1422
Generated new key... with Edit rights for pubsub in all accounts - API test curl test with new key:
------------------------------------------------------
    ~  curl -X GET "https://api.cloudflare.com/client/v4/user/tokens/verify" \                                                                    1 ✘
     -H "Authorization: Bearer [btoken-here] \
     -H "Content-Type:application/json"

{"

[2022-07-09 22:23] WalshyDev opened #1440 "🚀 Feature Request: Env var mocking for Pages"
### Describe the solution

We should really add CF_PAGES and other env vars to pages dev (and if we add a build step)

this allows for a more realistic local dev and also helps for detections (like for SvelteKit'a auto adapter)

[2022-07-10 13:44] dgokcin commented on #1338
@Hexstream do you have a workaround for a temporary fix? In my next static export website, I have dynamic routes + functions and I am not able to run my function locally because of this.

[2022-07-10 13:51] jrencz opened #1441 "🚀 Feature Request: Support `metadata` in `kv:key put`"
### Describe the solution

I think there's a missing feature in `kv:key put`: lack of ability to put keys with metadata (<del>or as base64, but I'll reduce the example below to just metadata</del> <ins>see https://github.com/cloudflare/wrangler2/issues/1441#issuecomment-1179751259</ins>). It's possible if `kv:bulk put` is used

<table>
<tr>
  <th></th>
  <th>API</th>
  <th>Wrangler</th>
</tr>
<tr>

[2022-07-10 15:41] jrencz commented on #1441
I started implementation of this.

So far I have some implementation, but I'm not sure if there's an actual need to implement `base64` option as I wrote originally.
There's `path` option that allows achieving the same (i.e. uploading files).
I'll stick to just `metadata`

[2022-07-10 17:04] dgokcin commented on #1338
@Hexstream I want to use wrangler pages dev in local development so I dont think I want a preview environment or anything that is not on the local pc.

[2022-07-10 20:05] kentonv opened #1443 "🐛 BUG: Unclear error message when Node is too old"
### What version of `Wrangler` are you using?

2.0.16

### What operating system are you using?

Debian Linux

### Describe the Bug

The most recent Debian -- v11, "bullseye" -- ships Node 12 as its `nodejs` package.

Using this version, attempting to install and use Wrangler results in a weird error:

[code]

It turns out this is because Wrangler requires Node 16. In fact, the `package.json` even

[2022-07-10 20:10] dgokcin commented on #1338
also @Hexstream do you agree thet #1437 is related eith this?

[2022-07-10 21:09] petebacondarwin commented on #1443
That strange because there is literally code to do this check: https://github.com/cloudflare/wrangler2/blob/238b546cc84bc7583f6668be25b7746c48d1a3fb/packages/wrangler/bin/wrangler.js#L24-L26

[2022-07-10 21:19] threepointone commented on #1443
Because this specific file isn't transpiled, we have to be careful not to use any newer syntax. I think adding the ...args code recently broke this from running on older versions of node/js.

Alternately, we should just transpile this file as well. So we won't risk this kind of failure.

[2022-07-10 21:19] petebacondarwin commented on #1443
Ahah! It is because the binary contains the `?.` operator, which node 12 does not understand. So it cannot even parse the file let alone run it.

[2022-07-10 21:19] kentonv commented on #1443
Yes, it's the use of `?.`

[2022-07-10 21:19] petebacondarwin commented on #1443
See https://github.com/cloudflare/wrangler2/blob/238b546cc84bc7583f6668be25b7746c48d1a3fb/packages/wrangler/bin/wrangler.js#L130-L135

[2022-07-10 21:21] kentonv commented on #1443
I should probably have included this more complete error in my bug report...

[code]

[2022-07-11 01:50] Hexstream commented on #1338
Right now I think your options would be not using encoded URLs, using preview deployments, or wait until this issue is fixed.

I'm not sure why you wouldn't want to use preview deployments, since they can even be secured if you like.

-------------------

I'm not sure why you would want to use brackets in URLs in the context of #1437, but I certainly don't expect brackets in URLs to work in local

[2022-07-11 07:43] dgokcin commented on #1338
I am using nextjs and I have a /pages/orders/[id].js which throws a 404 because of failing to decode brackets. this works if published but not with wrangler pages dev.

[2022-07-11 09:28] #1441 closed

[2022-07-11 09:47] threepointone opened #1445 "🐛 BUG: wrangler doesn't open edge when chrome isn't available"
### What version of `Wrangler` are you using?

2.0.16

### What operating system are you using?

Mac

### Describe the Bug

I have Edge installed. I do not have chrome installed. When I hit `d` after starting up `wrangler dev`, the devtools don't open. This is the code that should "work": https://github.com/cloudflare/wrangler2/blob/5b4d5a976a72e65149c883d2dbcb21f2125fc56e/packages/wrangler/src/in

[2022-07-11 10:02] threepointone opened #1446 "bug: remote dev session expires and doesn't refresh"
Since we landed https://github.com/cloudflare/wrangler2/pull/1391, the session doesn't refresh on every script change. This means when the dev session created on the edge does expire, the dev session breaks, and you have to restart to get it to work again. The error looks like this: `Error on remote worker: workers.api.error.expired_preview_token [code: 10049]`

The fix here is to detect when this

[2022-07-11 10:04] threepointone commented on #1436
I can't reproduce this behaviour locally. I think we may have fixed this recently. @Skye-31 could you please confirm you see this behaviour in the latest version of wrangler?

[2022-07-11 10:05] threepointone commented on #1436
No, just a regular worker apparently.

[2022-07-11 14:07] #1379 closed

[2022-07-11 16:48] Hexstream commented on #1437
I don't understand why you would use brackets as a part of any URL in this context.

Your id matched by the `[id]` part of the corresponding Pages Functions filename would then be literally `[id]`, which seems nonsensical.

[2022-07-11 19:01] dgokcin commented on #1437
I am not using brackets as the part of the url. I believe it is happening in the background when wrangler is running in pages dev mode.

I am using nextjs [dynamic routes](https://nextjs.org/docs/routing/dynamic-routes) in my project which is deployed to cloudflare pages. I add dynamic routing capability to my pages app by writing a function under, '/functions/orders/[id].js' since it is not suppo

[2022-07-11 19:13] Hexstream opened #1452 "🚀 Feature Request: Work around 25MB Pages filesize limit by automatically serving bigger files from R2 instead"
### Describe the solution

I have a mere 57 files across my 25 subdomains that are larger than Pages' 25MB filesize limit (dictated by Workers KV limitations).

I am preparing to manually work around the problem by manually serving those files from R2 instead, but there would surely be tremendous value for users in automatically serving files bigger than 25MB from R2 instead.

(This seems like a p

[2022-07-11 19:22] Hexstream opened #1453 "🚀 Feature Request: Add support for easy proxying to R2 using Pages _redirects file"
### Describe the solution

[The Pages documentation for redirects](https://developers.cloudflare.com/pages/platform/redirects/) seems to say that easy proxying will be supported later, with syntax such as:

`/blog/* https://blog.my.domain/:splat 200`

I'm very excited for that feature, but even more exciting would be to also add easy read-only proxying of private R2 buckets with syntax such as:

`

[2022-07-11 19:36] #1053 closed

[2022-07-12 00:58] CraigglesO opened #1454 "🐛 BUG: Possibly missing R2 Persist"
### What version of `Wrangler` are you using?

latest

### What operating system are you using?

Mac

### Describe the Bug

Might be wrong here, but I noticed the R2 update and from my limited understanding of the wrangler codebase,
https://github.com/cloudflare/wrangler2/blob/main/packages/wrangler/src/dev/local.tsx#L198
Shouldn't this include [r2persist](https://github.com/cloudflare/miniflare/b

[2022-07-12 02:31] sbquinlan commented on #1205
probably should be reported against the docs repo: [cloudflare/cloudflare-docs](https://github.com/cloudflare/cloudflare-docs)

[2022-07-12 09:25] keenwon commented on #1242
I had the same problem.

[code]

not work with `wrangler pages publish`

[2022-07-12 09:39] ignoramous commented on #921
Can you pls point to the gh-issue that tracks this effort for wrangler2?

[2022-07-12 10:33] Skye-31 commented on #1436
On 2.0.17 this is still applicable in local mode, however works as expected when using remote mode
![image](https://user-images.githubusercontent.com/46286597/178470899-df7ec0b5-06e2-42f9-ae09-6e72400ac7ae.png)

[2022-07-12 13:31] #1454 closed

[2022-07-12 13:37] rozenmd commented on #1454
Thanks for reporting this @CraigglesO! It'll be part of our next release.

[2022-07-12 21:34] KianNH commented on #1205
A WIP concept: https://kian-wrangler-configuration.cloudflare-docs-github.pages.dev/workers/wrangler/configuration/

[2022-07-12 22:14] jed opened #1461 "Support local hostnames w/ TLS for `wrangler dev` remote mode"
(submitted by request from [discord](https://discord.com/channels/595317990191398933/799437470004412476/996425965553078422))

Currently, there is no way to get wrangler remote mode to bind to a local hostname. This prevents users from testing wildcard subdomains and workers based on Cloudflare for SaaS, since there is no way to provide a TLS certificate, no way to bind to a hostname other than loc

[2022-07-13 01:26] jazoom opened #1462 "🐛 BUG: [pages:err] RangeError: Maximum call stack size exceeded"
### What version of `Wrangler` are you using?

0.0.0-d35c69f

### What operating system are you using?

Linux

### Describe the Bug

A project that was working suddenly became not working after installing wrangler@d1. The only way to get it working again seems to be to revert to v2.0.15 after blowing away `node_modules`.

[code]

The run command: `"BROWSER=none wrangler pages dev --port 8788 ."`

[2022-07-13 08:56] #1443 closed

[2022-07-13 10:13] threepointone opened #1466 "RFC: internal middleware for "wrapping" workers"
We're coming across multiple usecases where it's useful to "wrap" a worker with some functionality before running `dev`/`publish`.

- `--assets`/`config.assets` uses a [facade](https://github.com/cloudflare/wrangler2/blob/501cb6a13623e353e0b7a9f1a4386448ac2492e6/packages/wrangler/templates/static-asset-facade.js) to add the boilerplate for serving static assets from kv
- d1 uses a facade to inject

[2022-07-13 10:57] hpohlmeyer opened #1467 "🚀 Feature Request: Custom persistence path for KV"
### Describe the solution

Currently persistence is supported through the `--experimental-enable-local-persistence` flag. By default it will be persisted to `<cwd>/wrangler-local-state`.

This is a problem, when you try to share the KV between muliple workers. Say one worker writes to KV and another reads form it. They will bot create their own persistent storage. This could be fixed by pointing t

[2022-07-13 11:08] hpohlmeyer opened #1468 "🚀 Feature Request: Custom path for env files"
### Describe the solution

The undocumented `.dev.vars` file is really handy to populate secrets in local mode, since you do not need to modify the toml file.

Most projects use a `.env` file that is not checked in to read environment variables locally. In order to use the same variables for Wrangler, you would need to copy the variables you need for the worker from the `.env` file to the `.dev.va

[2022-07-13 14:36] sidharthachatterjee commented on #1462
Thanks for reporting this! This is odd for sure.

I'll defer to the D1 team on this, paging @geelen 🙏🏼

[2022-07-13 14:45] sidharthachatterjee commented on #1453
Hey there! Thanks for the feature request. What if this was a plugin?

Have you thought about putting files in a R2 bucket and use a Pages function to serve them?

[2022-07-13 14:47] sidharthachatterjee commented on #1452
This is totally okay to do and I don't see an issue serving them from R2 via a worker or function that you write.

We have discussed this internally but don't have anything else at the moment to share.

[2022-07-13 14:48] sidharthachatterjee commented on #1453
Closing this in favour of https://github.com/cloudflare/wrangler2/issues/1453 since they are both trying to solve the same issue really

[2022-07-13 14:48] #1453 closed

[2022-07-13 14:54] sidharthachatterjee commented on #1437
I'm unsure but I have a feeling that https://github.com/cloudflare/wrangler2/pull/1431 might resolve this. @GregBrimble Can you confirm?

Thanks for the bug report in the mean time. This is certainly a bug indeed.

[2022-07-13 14:56] sidharthachatterjee commented on #1394
Thanks for the feature request! I'll keep this open for now to track this. Cheers!

[2022-07-13 14:58] sidharthachatterjee commented on #1338
Closing this in favour of https://github.com/cloudflare/wrangler2/issues/1437

Thanks!

[2022-07-13 15:02] Hexstream commented on #1338
I think my earlier issue was more concise and to the point, but whatever. ;P

[2022-07-13 15:13] Hexstream commented on #1453
I assume you meant #1452, but I disagree, since working around the 25MB filesize limit is simply NOT the only valid use-case for this feature. This would be a great feature to have even if #1452 were to be implemented.

For instance, I often like to have a `/tmp/` directory in my websites for quickly sharing files.
Proxying this directory from R2 would make much more sense than rebuilding and repu

[2022-07-13 15:25] Hexstream commented on #1453
[Pages Functions does not appear to support R2 bindings yet](https://developers.cloudflare.com/pages/platform/functions/#adding-bindings), so I was planning to just use a Worker to proxy R2.

[2022-07-13 18:17] jspspike commented on #276
There is now a metadata parameter on script upload called `keep_bindings` which takes an array of binding types to retain from the previous upload. Environment variables have the type `plain_text` so having the upload metadata look like
[code]
will retain previous environment variables.

[2022-07-13 23:42] jahands commented on #971
Seeing the same issue in stackblitz :(

[2022-07-14 01:11] Mexican-Man commented on #1453
Same here. I was hoping to wait until bindings get added, but I know the R2 beta has been around for a while, so I just assuming it wasn't on the table.

[2022-07-14 09:31] threepointone commented on #1435
fixed in https://github.com/cloudflare/wrangler2/pull/1444

[2022-07-14 09:31] #1435 closed

[2022-07-14 09:39] threepointone commented on #1436
good catch! looks like we lost it for local mode during a refactor

[2022-07-14 12:28] isaac-mcfadyen opened #1475 "🐛 BUG: Unwanted detection of Node builtins"
### What version of `Wrangler` are you using?

0.0.0-d35c69f

### What operating system are you using?

macOS

### Describe the Bug

Wrangler2 attempts to detect the importing of Node built-ins (such as `http` and `fs`), seemingly using RegEx.

This is unwanted behavior in many applications. Packages like `faunadb` are designed for operation in **both** Node.JS and browser (or Worker) environments

[2022-07-14 14:55] #1436 closed

[2022-07-14 16:40] JacobMGEvans commented on #1421
We should discuss backwards compatibility

[2022-07-14 17:50] isaac-mcfadyen commented on #1475
I wonder if `esbuild` would tree-shake those packages? Since they're imported dynamically (`import('http')`)? Not sure.

Anyways, yeah I'd definitely be good with downgrading that to a warning, so that the user is aware but it doesn't block builds if they know for sure it's fine.

[2022-07-15 07:31] supachaidev opened #1477 "🐛 BUG: NODE_ENV is always evaluated to "production""
### What version of `Wrangler` are you using?

2.0.21

### What operating system are you using?

Mac

### Describe the Bug

# NODE_ENV Not Set in Wrangler Process

## Expected Behavior

After we set `NODE_ENV` in the `wrangler dev` command such as `NODE_ENV=development wrangler dev`, the `process.env.NODE_ENV` in the `src/index.ts` should be evaluated to `"development"`.

## Current Behavior

`pro

[2022-07-15 08:50] omrilotan opened #1478 "🐛 BUG: secret put does not accept value"
### What version of `Wrangler` are you using?

2.0.21

### What operating system are you using?

macOS Monterey 2.2.1 (Darwin 21.3.0) arm (M1)

### Describe the Bug

![](https://user-images.githubusercontent.com/516342/179187454-a38409b2-16b7-49fe-a81c-9ec910f15a5d.png)

## Expected behaviour
After reading the comment in the documentation. Seems it sould be possible to pass in the value via CLI.

[2022-07-15 08:59] omrilotan commented on #1478
I can see it is being read from STDIN in systems with no ReadStream. I'll close this and create a docs issue, instead.

[2022-07-15 09:38] threepointone commented on #1475
esbuild won't tree shake dynamic imports.

[2022-07-15 12:31] thibault-deriv opened #1480 "🐛 BUG: Interactive metrics makes CircleCI jobs fails (timeout)"
### What version of `Wrangler` are you using?

2.0.21

### What operating system are you using?

Linux

### Describe the Bug

Hello :smiley:

First, thank you for wrangler2 :+1:

With wrangler@2.0.21, the client is asking for (y/n) about metrics that makes CircleCI fails:
[code]

# 2.0.21
![interactive](https://user-images.githubusercontent.com/104425314/179222261-8fd42243-1945-4f19-b2e8-5e2b7b4da

[2022-07-15 12:39] petebacondarwin commented on #1480
Agh! So sorry. I made the assumption that CI runs would be non-interactive, which causes the Wrangler metrics to noop.
I can see that CircleCI is running in an interactive mode, so we need to have a better check.
I'll get a fix out today.

[2022-07-15 12:42] thibault-deriv commented on #1480
It would be great, thank you so much

[2022-07-15 14:53] Electroid commented on #1466
One thing to keep in mind is this will (probably?) affect source maps.

[2022-07-15 16:28] brillout opened #1481 "🚀 Feature Request: Detect whether code is being run in Cloudflare Workers (or Node.js)"
### Describe the solution

Add some kind of macro to detect whether the code, that is currently being run, is running in Cloudflare Workers.

For example with `esbuild`:

[code]

I've been using this for my custom Cloudflare Worker bundling (see [github.com/brillout/build-worker/tree/build-worker.mjs#L20-L22](https://github.com/brillout/build-worker/blob/2cd7b6ddd6b2625887e07d209d7c4c1ffd120520/bu

[2022-07-15 16:33] brillout commented on #1481
In the meantime: this https://community.cloudflare.com/t/how-to-detect-the-cloudflare-worker-runtime/293715 works.

[2022-07-15 17:21] kombucha commented on #1422
I'm facing the same issue after upgrading from `2.0.14` to `2.0.21`.

[code]

I tried to re-login but it doesn't help.
Reverting back to 2.0.14 fixes the issue.

[2022-07-15 17:46] petebacondarwin commented on #1480
Here's the fix https://github.com/cloudflare/wrangler2/pull/1482

[2022-07-16 02:42] thexeos opened #1487 "🐛 BUG: Command failed: git rev-parse --abbrev-ref HEAD"
### What version of `Wrangler` are you using?

2.0.22

### What operating system are you using?

Windows 10

### Describe the Bug

- Create new empty directory
- Initialize Git repository in that directory with `git --init`
- Run `wrangler pages project create xyz` inside the new directory

Result:

[code]

[2022-07-16 05:27] samhamilton opened #2728 "[Templates] 404 page doesn't render in HTML but plain text"
Hi,

We are using workers-sites on a few specific subfolders, which works well with the [template](https://github.com/cloudflare/templates/blob/main/worker-sites/index.js) provided. The one thing not working is that the worker will show the uploaded 404.html file as text and not html when serving to a browser.

The only change we made to the file is `options.mapRequestToAsset = handlePrefix(/^\/en

[2022-07-16 12:01] WalshyDev commented on #1481
I believe the Navigator API is the preferred way to do this

[code]

[2022-07-16 18:36] threepointone commented on #1481
I don't think wrangler would inject any compile time value that would indicate a workers environment. @WalshyDev's suggestion would be like the right way to do this. Closing this issue.

[2022-07-16 18:36] #1481 closed

[2022-07-17 04:09] Hexstream opened #1488 "🚀 Feature Request: Urgently need a way to disable redirects from `foo.html` to `foo` with Pages"
### Describe the solution

When navigating to a URL such as `https://example.com/foo.html`,
Pages for some reason redirects to `https://example.com/foo`.

Unfortunately, this "feature" is simply **_disastrous_** for my use-cases, and I **urgently** need a way to disable it, especially since there does not seem to be any workaround. (This is my only remaining blocker for finishing the long-overdue

[2022-07-17 04:41] tianluanchen opened #1489 "🐛 BUG: Error while creating remote dev session: TypeError: fetch failed"
### What version of `Wrangler` are you using?

2.0.22

### What operating system are you using?

Windows

### Describe the Bug

I constructed the project using the wrangler init command and authorized my account, then I got the following error when executing wrangler dev
[code]
I also tried to configure the proxy and set the environment variables, but it didn't work
[code]

[2022-07-17 14:36] isaac-mcfadyen commented on #1489
Are you perhaps using Cloudflare WARP or another proxy/VPN that does TLS inspection?

[2022-07-17 14:42] Hexstream commented on #1488
As for the means to disable this feature, one idea would be accepting

strip-html-suffixes=false

as the very first line of the `_redirects` file. This is simple, logical, efficient and extensible. More such special directives could eventually be accepted on separate lines only at the start of the file before normal redirection directives.

[2022-07-17 20:46] mglikesbikes opened #1490 "🐛 BUG: wrangler pages dev + SvelteKit + KV, locally"
### What version of `Wrangler` are you using?

2.0.22

### What operating system are you using?

Mac

### Describe the Bug

Seeing an empty KV store when binding to it with `wrangler pages dev --kv MY_NAMESPACE`. E.g., `platform.env.MY_NAMESPACE.list()` does not show what's in the actual store in the cloudflare dash.

What am I missing? My `package.json`, the relevant script being `dev:wrangler`:

[2022-07-17 20:55] mglikesbikes commented on #1490
Closing as apparently I totally misunderstood how this works haha

[2022-07-17 20:55] #1490 closed

[2022-07-17 23:27] jazoom commented on #1462
@sidharthachatterjee This isn't a D1 issue. I just removed node_modules and yarn.lock and confirmed that the problem isn't there with `"wrangler": "^2.0.15"` but it is with `"wrangler": "^2.0.22"`.

[2022-07-17 23:30] jazoom commented on #1462
Actually, to be more specific, when I use the yarn.lock that was in source control at the time I was on wrangler 2.0.15 then there is no problem, but if I use the same package.json file from then and do a fresh `yarn install` of wrangler 2.0.15 then the issue presents itself. I guess this means one of your dependencies that isn't fixed to a certain version had an update that is causing this issue.

[2022-07-17 23:35] jazoom commented on #1462
And the issue linked by @WalshyDev suggests that dependency would be Miniflare

[2022-07-18 07:18] brillout commented on #1481
It doesn't seem to work: I get `typeof navigator === "undefined"`.

[2022-07-18 08:28] petebacondarwin commented on #1481
I just tried this in a worker:

[code]

and in the browser, I see:

[code]

[2022-07-18 08:42] petebacondarwin commented on #1422
@kombucha - in your case it looks like Wrangler is trying to use a global API key that you are providing. The ability to do this was added after 2.0.14. Do you have the `CLOUDFLARE_API_KEY` or `CF_API_KEY` environment variable set? If so, can you check that this is a valid key?

[2022-07-18 10:01] GregBrimble opened #1491 "🐛 BUG: `--minify`, `--node-compat` and `--no-bundle` don't work together and don't log a warning/error"
### What version of `Wrangler` are you using?

2.0.18

### What operating system are you using?

macOS

### Describe the Bug

Pretty understandable that we don't do any minifying/polyfilling if we're not doing any bundling. But we should probably log a warning or error when users try to specify incompatible arguments.

e.g.

[2022-07-18 10:05] GregBrimble opened #1492 "🚀 Feature Request: Log whether new versions are available as a part of `wrangler --version`"
### Describe the solution

If I'm checking my version, I'm probably also interested in seeing if there are new versions available. The only reason I can think to _not_ do this is if we ever encourage something like `node --version > .nvmrc` or `node --version > .node-version` for other tools to pick it up or for us to read that in some CI environment or whatever.

[2022-07-18 10:07] GregBrimble opened #1493 "Deprecate `--local-upstream` in favor of `--host`?"
### Describe the solution

Seems like `--host` does the same thing and works in both local and remote mode. `--local-upstream` only works in local mode.

[2022-07-18 10:46] GregBrimble opened #1494 "🐛 BUG: No feedback given on `wrangler kv:namespace delete`"
### What version of `Wrangler` are you using?

2.0.18

### What operating system are you using?

macOS

### Describe the Bug

`wrangler kv:namespace delete` doesn't give any feedback to suggest whether the operation was successful or failed. It should print some message confirming.

e.g.

`wrangler r2 create bucket` does it nicely.

[2022-07-18 11:08] kombucha commented on #1422
@petebacondarwin indeed I had an invalid `CLOUDFLARE_API_KEY` value in my environment variables from a long time ago. Removing it solved the issue for me.
Thank you!

[2022-07-18 11:36] threepointone commented on #1494
good catch, yes.

[2022-07-18 11:38] threepointone commented on #1493
I believe there's a scenario where host !== upstream, where the domain where you're receiving requests to is the not the same domain you're proxying to (correct me if I'w wrong?). We already default to host (and routes before that) for --local-upstream btw, so the latter is only ever explicitly configured for the edge case.

[2022-07-18 11:39] threepointone commented on #1492
SOunds good. Happy to output newer available versions when `!isTTY`

[2022-07-18 11:56] threepointone commented on #1492
In fact, we should just use `printWranglerBanner()` when !isTTY, it includes this information and looks nice

[2022-07-18 14:11] threepointone commented on #1492
Assigning to @cameron-robey

[2022-07-19 05:33] bytemain commented on #1422
I'm using https://github.com/cloudflare/wrangler-action to publish worker in GitHub Actions and I meet the same problem.

[code]

the key is created by `Edit Cloudflare Workers`:
![CleanShot 2022-07-19 at 13 33 11@2x](https://user-images.githubusercontent.com/13938334/179672642-555cbb93-f71d-4a9a-980c-842aa0151529.png)

[2022-07-19 08:16] petebacondarwin commented on #1422
@bytemain - when you created this API token from the template, did you restrict the token to only one Zone?

[2022-07-19 09:14] davidkarlsson commented on #1320
I think maybe this fix broke running the wrangler dev server if you are using Yarn 3 PnP? From version 2.0.16 and onwards I now get the following error when I try to start the dev server with `yarn wrangler dev`:

[code]

[2022-07-19 09:43] threepointone commented on #1320
Good catch! Fix incoming.

[2022-07-19 10:18] ResetPower opened #1497 "🐛 BUG: Support proxies in `wrangler dev --remote`"
### What version of `Wrangler` are you using?

2.0.22

### What operating system are you using?

macOS 12.3

### Describe the Bug

[code]

[2022-07-19 10:50] petebacondarwin commented on #1497
Hi @ResetPower - thanks for posting this issue. In order to help us resolve it, could you provide a runnable example of this problem that we could reproduce locally? Ideally a Wrangler project with appropriate wrangler.toml and source code, that we can run ourselves.

[2022-07-19 11:27] tianluanchen commented on #1489
Thanks. I have found a solution

[2022-07-19 11:27] #1489 closed

[2022-07-19 11:42] ResetPower commented on #1497
I just created a new project using `wrangler init` without any modification

wrangler.toml
[code]

[2022-07-19 12:42] ResetPower commented on #1489
I wonder what your solution is. Could you tell me? I met the same problem.

[2022-07-19 12:55] ResetPower commented on #1497
I unset environment variable $HTTP_PROXY $HTTPS_PROXY $http_proxy $https_proxy, and I met the problem below

[code]

[2022-07-19 15:55] #70 closed

[2022-07-19 15:55] #1347 closed

[2022-07-19 16:53] #1494 closed

[2022-07-19 16:54] #1491 closed

[2022-07-19 19:59] threepointone commented on #1422
A workaround to this issue is to add an account_id in your wrangler.toml, or set it as an environment variable with CLOUDFLARE_ACCOUNT_ID. We could probably add this tip in the error message itself.

[2022-07-20 01:57] keenwon commented on #1242
Any update on this issue?

[2022-07-20 02:06] ResetPower commented on #1497
Leaving just HTTP_PROXY and still have the problem.
`wrangler whoami` works normally.

[2022-07-20 08:32] tianluanchen commented on #1489
I set up the system proxy, and then executed it several times, and it was successful once in a while

[2022-07-20 08:53] falcon03 commented on #370
I run across the same issue and can confirm this nasty bug. I got referenced to this issue from a topic in the Cloudflare community forum:

https://community.cloudflare.com/t/response-406-unacceptable-on-env-assets-fetch-for-yaml-file/400603

My use-case is trying to load a YAML file from my cloudflare pages project within a functions middleware (that is part of the same project). The code worked

[2022-07-20 10:26] chris-kruining opened #1504 "🐛 BUG: Invalid regular expression"
### What version of `Wrangler` are you using?

beta

### What operating system are you using?

Windows 11

### Describe the Bug

- install remix with `npx create-remix@latest`
- choose a folder
- choose "Just the basics"
- choose "Cloudflare Pages"
- choose "Typescript"
- run `npm run dev`

[2022-07-20 10:28] chris-kruining commented on #1504
problem does not exist in 2.0.22

[2022-07-20 10:30] threepointone commented on #1504
@GregBrimble @Skye-31 this might be related to the pages dev refactor?

[2022-07-20 12:47] chris-kruining commented on #1504
weird, I've set the version back to beta in my package.json and ran `npm i` again, but I don't have the error anymore. Would it be worth to remove my node_modules and do a 100% fresh install? Or is it more preferable to just close this issue under the conclusion of: don't use beta?

[2022-07-20 12:53] andogq opened #1505 "🐛 BUG: `wrangler dev -l` doesn't use preview KV namespace"
### What version of `Wrangler` are you using?

2.0.22

### What operating system are you using?

Mac

### Describe the Bug

When running `wrangler dev -l` the KV store for a namespace will remain empty, despite data being present (added via `wrangler kv:key put --binding=domains --preview true "key" "value"`). Running `wrangler kv:key list --binding=domains --preview true` does return the key, how

[2022-07-20 13:06] GregBrimble commented on #1504
Definitely we'd rather you use stable versions. But it sounds like it _probably_ wasn't an issue with the current beta release, so I'll close this out. Let us know if it comes up again!

[2022-07-20 14:54] threepointone commented on #1381
fixed in https://github.com/cloudflare/wrangler2/pull/1507

[2022-07-20 14:54] #1381 closed

[2022-07-20 15:09] #1492 closed

[2022-07-20 15:23] petebacondarwin opened #1509 "🚀 Feature Request: support source maps in `wrangler dev`"
### Describe the solution

Add source maps!!

[2022-07-20 16:43] cameron-robey commented on #1509
https://github.com/cloudflare/wrangler2/issues/441

How are these going to interact, is there a nice way to link them together?

[2022-07-21 06:17] Mexican-Man commented on #370
@falcon03, a workaround for this problem could look like this:
[code]
This does a regular fetch request, which piggybacks off the incoming request's URL. Of course, this requires that your YAML file publicly accessible. This would results in fetching `http://localhost/myfile.yaml` locally, and `https://something.pages.dev/myfile.yaml` when hosted.

[2022-07-21 09:24] GregBrimble opened #1512 "🐛 BUG: D1 shim hides other things on `env`"
### What version of `Wrangler` are you using?

d1

### What operating system are you using?

macOS

### Describe the Bug

[code]

When other bindings exist (env vars, service bindings etc.), using D1 obscures them in the above script. They're still accessible if I know their binding, but they don't list out/JSON-stringify.

[2022-07-21 13:10] threepointone opened #1515 "bug: local mode restarts for no reason when wrangler starts up"
It happens only on beta/main, logging this so I remember to investigate this asap.

[2022-07-21 14:59] JacobMGEvans commented on #1346
I like the idea on focusing on initializing for this implementation. It could potentially in the future be worked into other potential sources like StackBlitz or personal template repos.

I think, we shouldn't handle source control in any form or seemingly do so, which is how the dashboard code is treated. Think much like how similar tooling will pass that responsibility to remote source control t

[2022-07-21 19:26] a-robinson opened #1519 "🐛 BUG: wrangler tail crashes when encountering a log from a Durable Object alarm invocation"
### What version of `Wrangler` are you using?

2.0.22

### What operating system are you using?

Linux (also happens on Mac)

### Describe the Bug

Wrangler tail crashes if it gets sent a log from a DO alarm invocation. To repro:

1. Deploy a DO that uses alarms, such as the example from https://blog.cloudflare.com/durable-objects-alarms/
2. Start a wrangler tail session on that script
3. Send a r

[2022-07-22 00:00] satoshi022 opened #1521 "Anthonyjiasides/dev"

[2022-07-22 00:14] satoshi022 commented on #1521
I’m in north carolina in Greensboro area
Not in India

[2022-07-22 00:16] satoshi022 commented on #1521
Everyone that’s. Messed with my codes and tried to make me think I’m not god at what I do. Wiki may pay y’all back

[2022-07-22 00:16] satoshi022 opened #1522 "Everyone that’s. Messed with my codes and tried to make me think I’m not god at what I do. Wiki may pay y’all back"
Everyone that’s. Messed with my codes and tried to make me think I’m not god at what I do. Wiki may pay y’all back

_Originally posted by @satoshi022 in https://github.com/cloudflare/wrangler2/issues/1521#issuecomment-1192050871_

[2022-07-22 03:44] Hexstream commented on #1522
I reported this bizarre spam account to GitHub.

[2022-07-22 05:50] #1521 closed

[2022-07-22 05:50] #1522 closed

[2022-07-22 05:50] petebacondarwin commented on #1522
Thanks @Hexstream

[2022-07-22 08:42] threepointone commented on #1515
Isolated to this change https://github.com/cloudflare/wrangler2/pull/1496

[2022-07-22 10:57] threepointone commented on #1519
related: https://github.com/cloudflare/wrangler2/issues/1200

[2022-07-22 15:12] dgokcin commented on #1437
@sidharthachatterjee any updates?

[2022-07-22 16:39] IgorMinar commented on #1346
@JacobMGEvans apologies if I was not clear, but I think we are thinking of different things. What I had in mind was that `wrangler init` already has very nice DX for generating projects and customizing them to developer's needs via interactive prompts that impact the output.

I think it would be awesome if we could leverage this by enabling developers to scaffolding projects as they can today and

[2022-07-22 16:45] JacobMGEvans commented on #1346
No, I understood. If anything I stated previously was unclear I would be happy to clarify what I mean.

[2022-07-22 21:41] jgentes commented on #1031
@JacobMGEvans could you link your PR here?

[2022-07-22 21:43] IgorMinar commented on #1031
I belive it's this one: https://github.com/cloudflare/wrangler2/pull/1486

[2022-07-22 22:04] JacobMGEvans commented on #1031
That's the one.

@jgentes  I linked it here as well, though it is still a draft with no description or changeset.

[2022-07-22 23:47] gyalowitz opened #1527 "🐛 BUG:"
### What version of `Wrangler` are you using?

0.0.0-1f694d6

### What operating system are you using?

Linux

### Describe the Bug

When attempting to interact with D1 I get the following auth error:

✘ [ERROR] A request to the Cloudflare API (/accounts/316c0ba9429f31c14edaf70a48220769/d1/database) failed.

  Authentication error [code: 10000]

[2022-07-22 23:47] #1527 closed

[2022-07-24 07:31] #1515 closed

[2022-07-24 18:01] Hexstream commented on #1488
I was able to work around this issue with Workers, not without some pain.

This solves my issue in the short term, but a simple native solution would be strongly preferred.

[2022-07-24 19:31] GregBrimble opened #1530 "🚀 Feature Request: Print full URL on `wrangler publish`"
### Describe the solution

RIght now we just output something like:

[code]

It would be nice to prefix with a protocol so that it's recognized as a URL so I can just Cmd+Click to go straight there. I realize that it's maybe not always `https` though, and maybe Wrangler doesn't know the protocol? Maybe just assume `https`? Or can we pull it from the zone settings somehow?

[2022-07-25 03:43] yusukebe opened #1531 "🐛 BUG: Miniflare `D1Plugin` is not enabled"
### What version of `Wrangler` are you using?

2.0.22 (d1 branch)

### What operating system are you using?

Mac

### Describe the Bug

Hi! Thank you for your great work!

I want to run the script with D1 locally. I've followed the instruction below:

https://github.com/cloudflare/templates/tree/main/worker-d1

But, I got the error:

[code]

<img width="1139" alt="スクリーンショット 2022-07-25 12 32 49" sr

[2022-07-25 04:36] ptim opened #1532 "🐛 BUG: (docs) `npx wranger init` unexpected results"
### What version of `Wrangler` are you using?

1 & 2

### What operating system are you using?

Mac

### Describe the Bug

This is all user confusion / PEBCAC - but more explicit instructions in the readme would be helpful whilst two versions of wrangler are current 🙏.

I have previously mostly used wrangler1, which is installed globally via npm.

`npx wrangler init my-package' used the old versio

[2022-07-25 09:09] threepointone commented on #1530
There are a bunch of edgecases here, especially if it's also a route, or even a service that's bound, or a script that's only used as  DO, etc.

Let's skip all that and keep it simple. If we know it's a workers.dev worker, then let's print the url with https. If it's on a route, then let's not.

[2022-07-25 11:29] GregBrimble opened #1536 "🐛 BUG: d1 `first()` errors if no results are found"
### What version of `Wrangler` are you using?

d1

### What operating system are you using?

macOS

### Describe the Bug

At least in local mode, `result` is returned, rather than `results`, so the logic in the facade `results.length` crashes.

[2022-07-25 11:45] #1530 closed

[2022-07-25 16:09] booleanbetrayal commented on #1242
Cloudflare should stop [promoting use cases that are actually broken](https://blog.cloudflare.com/cloudflare-pages-direct-uploads/) under the hood. Can we please get a fix ETA for this?

[2022-07-25 16:09] GregBrimble commented on #1531
We probably need to cherry-pick this onto the d1 branch: https://github.com/cloudflare/wrangler2/pull/1511/commits/9b173774b2c19260c982d479bc2eedbad087458a

[2022-07-25 16:11] GregBrimble opened #1540 "🚀Feature Request: [OAuth] describe the current permissions in `wrangler whoami`"
#1371 handled the API tokens equivalent. Let's also do the same for OAuth.

[2022-07-25 16:13] petrusgomes commented on #1504
I had a similar issue on Wrangler 2.0.23 stable.
Using 2.0.22 solved it.

[2022-07-25 17:35] Skye-31 commented on #1504
Can confirm this is an issue in 2.0.23

[2022-07-25 21:00] JacobMGEvans commented on #1532
That is the monorepo version. You can find the Wrangler package version [here](https://github.com/cloudflare/wrangler2/blob/main/packages/wrangler/package.json#L3)

[2022-07-25 22:40] Martin-Eriksson opened #1543 "🐛 BUG: `pages dev` silently ignores proxy command if `directory` is specified"
### What version of `Wrangler` are you using?

2.0.23

### What operating system are you using?

Linux

### Describe the Bug

Running `wrangler pages dev public -- COMMAND` results in:
[code]
There is no indication of why COMMAND is being ignored and the only hint that it is ignored at all is that the output is missing `Running COMMAND...`.

The reason is that since `public` was specified as the d

[2022-07-25 22:45] Martin-Eriksson opened #1544 "🐛 BUG: `pages dev` hangs when using proxy command that is not executable"
### What version of `Wrangler` are you using?

2.0.23

### What operating system are you using?

Linux

### Describe the Bug

Running `wrangler pages dev -- COMMAND` hangs wrangler if `COMMAND` is not an executable (or doesn't exist, even)
`SIGINT` (`CTRL+C`) does not terminate the process.

Noticed when reporting #1543.

[2022-07-25 22:48] ptim commented on #1532
Ah, silly me, thanks @JacobMGEvans 👍

[2022-07-25 23:39] yusukebe commented on #1531
@GregBrimble

You are right! I've cherry-picked it into d1 branch, built it, ran it with the command that was built, and it's successful. Could you release this as wrangler@d1?

[2022-07-26 07:41] bebraw opened #1547 "🐛 BUG: It's not clear how `wrangler pages dev` proxy is supposed to work"
### What version of `Wrangler` are you using?

2.0.023

### What operating system are you using?

MacOS 12.5

### Describe the Bug

I'm currently trying to add a couple of dynamic routes to my static site using CF functions. The recently added Functions feature that was added to CF Pages fits my use case perfectly.

To try out the functionality, I set it up as follows:

1. Repository: https://gith

[2022-07-26 08:36] Martin-Eriksson commented on #1547
Wrangler silently ignores your proxy command when you specify a directory. I actually created an issue (#1543) and a PR (#1545) for this yesterday :)

Remove the `.` and it should proxy.

[2022-07-26 09:37] bebraw commented on #1547
Yeah, that's it. Thanks a lot.

Now there's some other error to debug but that's separate from this and might be related to my personal setup and Deno somehow.

[2022-07-26 09:37] #1547 closed

[2022-07-26 10:05] bebraw opened #1548 "🚀 Feature Request: Allow specifying which port to proxy for `wrangler pages dev`"
### Describe the solution

In my current project, I'm trying to use Wrangler in front of my static site to enable the use of functions for generation of dynamic pages.

The project is using a site generator of my own that's exposing changes to the client (and back) using web sockets. The web socket server runs on port 8080 while the development server runs on 3000.

The problem is that once I run

[2022-07-26 10:08] bebraw commented on #1548
It turns out, there's a flag for this already at https://github.com/cloudflare/wrangler2/blob/main/packages/wrangler/src/pages/dev.tsx .

Sorry for the noise. :)

[2022-07-26 10:08] #1548 closed

[2022-07-26 10:45] bebraw opened #1549 "🚀 Feature Request: `pages dev --proxy=3000` doesn't do anything alone"
### Describe the solution

In order to debug proxy behavior, I'm trying to run my development server in another terminal instead of using `wrangler pages dev --proxy=3000 -- deno task start` kind of command. The problem with this type of invocation seems to be that it's removing any console output coming from my development server (`deno task start`).

To overcome the issue, I would expect `wrangl

[2022-07-26 10:59] caass commented on #1519
Does this fail when using `--json` (or `--format json`, I can't remember what the usage is)? If not, can you provide an example of an alarm event in JSON formatting?

[2022-07-26 13:57] a-robinson commented on #1519
It does not fail when using `--json`. Here's an example:
[code]

[2022-07-26 14:19] #1532 closed

[2022-07-26 17:32] Skye-31 commented on #1504
@petrusgomes, would you be able to see if [this version of wrangler](https://github.com/cloudflare/wrangler2/pull/1552#issuecomment-1195770084) fixes it?

[2022-07-26 17:44] #1031 closed

[2022-07-26 22:44] awthwathje opened #1554 "🐛 BUG: `pages dev` only listens on `localhost` now (2.0.23)"
### What version of `Wrangler` are you using?

2.0.23

### What operating system are you using?

Windows

### Describe the Bug

Up until version 2.0.23, Wrangler was listening on all available local IPs, but since then only on `localhost`.  This broke my development environment where I develop in a VM guest and test the app in VM host.

I see you introduced a new option `--local-protocol`, but for

[2022-07-26 23:04] threepointone commented on #1554
Are you referring to pages?

[2022-07-26 23:05] threepointone commented on #1554
Ok I see you're referring to pages. Thanks for filing this issue, we'll investigate it!

[2022-07-27 12:09] threepointone opened #1556 "assets: CORS support"
For `--assets` / `config.assets`, a couple of features:

- Let's actually just enable CORS for static assets by default
- Add a configuration `cors: boolean`
- Allow for further customisation via `_headers` (when we implement it)

[2022-07-27 12:12] threepointone opened #1557 "assets: `mount` point"
When using `config.assets`/ `--assets`, we should be able to mount static assets on a path. I'm thinking `config.assets.mount`.

[2022-07-27 12:34] #1040 closed

[2022-07-27 12:34] GregBrimble commented on #1556
Pages automatically adds the `access-control-allow-origin': '*'` header which is safe to do for static assets. I'd support adding this to `--assets` by default too.

We let people unset headers with `_headers` like so:

[code]

[2022-07-27 15:12] CMCDragonkai opened #1561 "🐛 BUG: SVG files are not loaded when using `wrangler pages dev ./dist`"
### What version of `Wrangler` are you using?

2.0.23

### What operating system are you using?

Linux

### Describe the Bug

I used `wrangler pages dev ./dist` on https://github.com/MatrixAI/Polykey-Docs/, and it didn't resolve the `/images/Polykey Logo.svg` file, even though this exists.

It does work on the published site. Seems like the wrangler doesn't realise that svgs are also valid images/

[2022-07-27 16:25] GregBrimble opened #1563 "🚀 Feature Request: Print OAuth2 authorize URL"
### Describe the solution

Right now, it just opens the browser. Sometimes I want to open it in a different browser, or maybe it failed to open. Wrangler should print the authorization URL to the terminal as well so I can use it as I please.

[2022-07-27 16:31] threepointone commented on #1563
I think we already do this?
<img width="1269" alt="image" src="https://user-images.githubusercontent.com/18808/181300681-2a136b28-b1ff-4a1d-b2af-240bd9ed17f2.png">

[2022-07-27 17:48] threepointone commented on #1563
Closing this, but happy to reopen if I've misunderstood

[2022-07-27 17:49] #1563 closed

[2022-07-27 18:59] ajwootto opened #1566 "🐛 BUG: `wrangler dev` is not auto-reloading a custom build when files change"
### What version of `Wrangler` are you using?

2.0.23

### What operating system are you using?

Mac

### Describe the Bug

I have a wrangler.toml file that looks like the following
[code]

The yarn build just runs webpack.

When I run the worker using `wrangler dev` (tried in both local and not-local mode) then the build command is run the first time and the server starts up, but any changes to m

[2022-07-27 20:34] #1543 closed

[2022-07-27 20:46] ajwootto commented on #1013
I just ran into this, from what I could find the workaround is to specify the zone_id along with every route you define:
[code]

This is a bit annoying when there's a lot of routes to define and they all have the same zone_id. In `wrangler` 1.x I was able to just define `zone_id` at the top and I guess it applied to every route

[2022-07-27 21:06] JacobMGEvans commented on #1346
This is meant to be a follow up for public transparency in planning and discussions pertaining to this happening internally and will be followed up with a spec (which I would be willing to share if people are interested).

In regards to this and based on additional internal discussions, particularly addressing my concerns around anything resembling source control or source management. I agree that

[2022-07-27 23:57] marcelduin commented on #1422
I also just had this issue (wrangler 2.0.23) with an older project. (Re-)adding the `account_id` to `wrangler.toml` worked.

But it's unclear that this is required, especially because a recent project created with Wrangler 2 doesn't require this.

[2022-07-28 00:50] IgorMinar commented on #1346
Thanks for the update @JacobMGEvans!

[2022-07-28 04:52] CMCDragonkai opened #1570 "🐛 BUG: Wrangler2 does not load `dist/_worker.js` unless you are running wrangler directly in `dist` directory"
### What version of `Wrangler` are you using?

2.0.23

### What operating system are you using?

Linux

### Describe the Bug

I copied the documentation `_worker.js` into a `dist` directory:

[code]

When running `wrangler pages publish ./dist --project-name polykey-docs`, the worker does not get uploaded.

Whne running `wrangler pages dev ./dist` the worker also does not work.

However if I run `

[2022-07-28 05:54] petebacondarwin commented on #1566
This should definitely work. What is the layout of your source files? Would you be able to set up a small reproduction of the problem to share with us?

[2022-07-28 08:14] threepointone opened #1571 "chore: fix flaky test (node-app-pages)"
We have a test that fails very often, and makes it annoying to land code. It's not been disabled, we should figure out a proper fix for it.

[2022-07-28 08:15] threepointone commented on #1571
Disabled in https://github.com/cloudflare/wrangler2/pull/1572

[2022-07-28 08:23] threepointone commented on #1466
Landed this in https://github.com/cloudflare/wrangler2/pull/1551, works well, sourcemaps included. Closing this.

[2022-07-28 08:23] #1466 closed

[2022-07-28 08:26] threepointone commented on #1167
Unassigning myself since I'm going on leave for a bit, open to whoever else wants a crack at this

[2022-07-28 08:39] #1509 closed

[2022-07-28 09:42] eidam commented on #865
This should not be blocked by #864, as it would work with API token - allowing the full experience, except the login part.

[2022-07-28 12:12] threepointone commented on #1268
Closing this, happy to investigate if you can provide a reproduction or more details.

[2022-07-28 12:12] #1268 closed

[2022-07-28 12:14] threepointone commented on #1151
We added batching a while ago that should have fixed this. I'm closing this issue, but happy to discuss/reopen if I've missed something.

[2022-07-28 12:14] #1151 closed

[2022-07-28 12:16] threepointone commented on #340
This works pretty great now, so I'm closing this issue.

[2022-07-28 12:16] #340 closed

[2022-07-28 13:57] threepointone commented on #1461
Assigning to @cameron-robey for exploring solutions

[2022-07-28 15:13] CMCDragonkai opened #1573 "🐛 BUG: `__STATIC_CONTENT_MANIFEST` is not defined"
### What version of `Wrangler` are you using?

2.0.23

### What operating system are you using?

Linux

### Describe the Bug

I'm attempting to use ES-module style with `@cloudflare/kv-asset-handler`. The README.md says to use `__STATIC_CONTENT_MANIFEST`. However this variable does not exist.

When attempting to deploy it says:

[code]

Also I was using TS, what is the right way to make TS believe

[2022-07-28 16:33] mihaip commented on #1151
@threepointone I was experiencing this with batching (see the reference to https://github.com/cloudflare/wrangler2/commit/18ac4398f8f6e3ed3d663ee61ceb7388510390aa in my comment). The problem is that the batching is purely count based, but if the values are large then the request still ends up being too large, since there is a maximum string size.

[2022-07-28 18:30] #1421 closed

[2022-07-28 23:41] #1402 closed

[2022-07-29 02:49] CMCDragonkai opened #4970 "Spaces in file names results in `NotFoundError`"
I have some files that have spaces in their names. Like `Polykey Logo.svg`.

When requested from the browser, it looks like `https://polykey.io/docs/images/Polykey%20Logo.svg`.

When using `getAssetFromKV`, this ends up not working and throws a `NotFoundError`.

When I changed the file name to `polykey-logo.svg`, it all worked fine.

I saw this is an old issue cloudflare/kv-asset-handler#75 that s

[2022-07-29 09:57] threepointone commented on #1040
Hey @chrstntdd, would you like to try the solution we just landed in `wrangler@beta`? You simply have to run `wrangler dev --local` on both workers in different terminal tabs, and they should automatically bind to each other.

[2022-07-29 13:33] brillout opened #1580 "🚀 Feature Request: [Wrangler 2 Regression] Being able to inspect the worker code"
### Describe the solution

Wrangler 1 was generating the worker code locally on my machine, and added the worker code to my source tree, so I could easily inspect it.

Wrangler 2 most likely also generates the worker code locally on my machine, but I can't find where it then lives? Is it written to the filesystem somewhere? Being able to inspect the worker code is *paramount* for debugging.

I kno

[2022-07-29 16:49] threepointone commented on #1580
You can generate a local copy of the worker we upload with `wrangler publish --dry-run --outdir <path>`

(We should document this)

[2022-07-29 16:51] brillout commented on #1580
Perfect, thanks!

[2022-07-29 20:10] Mexican-Man opened #1582 "🐛 BUG: Warning about "redundant `response.clone()`" even if you call `request.clone()`"
### What version of `Wrangler` are you using?

2.0.23

### What operating system are you using?

Windows

### Describe the Bug

If you have redundant calls to `response.clone()` on non-local `wrangler dev`, you normally get this message:

However, you get this same message if you have redundant calls to `request.clone()` as well.
Ideally when this happens, it should say:
[code]
–to be less confusi

[2022-07-29 20:44] JacobMGEvans opened #1583 "RFC: `wrangler init` with flag `--from-dash`"
# Why should we do `wrangler init --from-dash`?
Furthering the discussion from #1346, we want to provide a bridge from the dashboard where previously it was easy to get up and going with a new Worker. Now we want to encourage the user to an improved developer experience with the CLI and their local developer ecosystem. Since the goal is for the user to develop locally we want to be sure this is a

[2022-07-29 20:45] #1346 closed

[2022-07-29 20:45] JacobMGEvans commented on #1346
Please see #1538 for continuation of discussion and planning.

[2022-07-29 21:02] JacobMGEvans opened #1584 "🚀 Feature Request: `wrangler r2 object delete <objectPath>`"
### Describe the solution

Wrangler R2 object features recently added provided the ability to upload & download from the CLI without needing to go to the dashboard. The last phase to this initial features to R2 objects in Wrangler is the ability to `delete` objects.

Steps:
- [x] Feature created
- [x] The API is available from R2 (cc: @vlovich, @shaunpersad)

[2022-07-30 13:13] gijo-varghese opened #1585 "🐛 BUG: GitHub action failing with environment"
### What version of `Wrangler` are you using?

2.0.23

### What operating system are you using?

Mac

### Describe the Bug

I'm using GitHub actions to deploy workers to different environments. But I'm getting an error as follows (though the worker is deployed correctly).

[code]
wrangler.toml
[code]

deploy.yml
[code]

[2022-07-30 13:18] threepointone commented on #1585
The error code specifies what's going on here, you're trying to deploy the worker to the same route in both production and staging environments, which is not what you probably want.

[2022-07-30 13:24] gijo-varghese commented on #1585
@threepointone tried different route, but same error.

wrangler.toml
[code]

[2022-07-30 13:38] threepointone commented on #1585
It's possible that you've already deployed another worker to those routes. You'll have to remove them from the dashboard before publishing with wrangler again.

[2022-07-30 13:50] gijo-varghese commented on #1585
@threepointone tried deleting, but still no luck. I'm using the same .toml file with buddy.works, and it deploys fine!

[2022-07-30 14:25] torcd opened #1586 "🐛 BUG: Windows+node:fs=> ALL Pages uploads/updates fail with 2000+ files [ERROR EMFILE]"
### System tested

`OS:` Windows 64-bit
`pm:` nvm-windows
`node.js:` 16.7.0 (lowest supported), 16.16.0 (lts), 17.9.0, 18.5.0, 18.7.0 (latest), likely all versions affected
`wrangler:` 2.0.17, 2.0.23, likely all versions >2.0.6 affected
`dependencies:` all updated to "wanted" versions
`ERROR src:` -`node:fs`, -`chokidar`, -wrangler pages `publish/upload` code (eg lack of _graceful_ fs queuing/retr

[2022-07-30 15:56] threepointone commented on #1585
You'll have to check, that's what the error means. There's a worker already deployed to the route.

[2022-07-30 15:57] gijo-varghese commented on #1585
@threepointone, what if I want to overwrite/update? The worker in production cannot be deleted.

[2022-07-30 15:57] threepointone commented on #1585
You can deploy a worker with the same name to that route. I'm suggesting you change the staging one to another route that doesn't overlap with the production one.

[2022-07-30 16:00] gijo-varghese commented on #1585
I deleted the entire staging worker and its routes. Still not working.

[2022-07-30 16:48] threepointone commented on #1585
I can't help you debug a usage problem here I'm afraid. This is definitely not a wrangler issue though. I'd recommend asking in discord, with more details of the wrangler.toml without substitutions.

[2022-07-30 16:52] petebacondarwin commented on #1585
Also I would check that you don't happen to have another completely separate worker wired up to the same route.

[2022-07-30 20:18] #1504 closed

[2022-07-30 21:47] brillout commented on #1580
Unfortunately, the line numbers of the error stack thrown while running `$ wrangler dev` don't match the line numbers of the worker code generated by `$ wrangler publish --dry-run`.

Also, is there a way to modify the local worker and then try it? That's quite a convenient debugging DX.

[2022-07-30 22:02] threepointone commented on #1580
Could you try with the @beta version? We landed a fix for error stacks that we'll release next week.
Alternately, if you're using a custom build, you can skip wrangler's bundling altogether with `--no-bundle` (in both dev and publish)

[2022-07-31 01:28] yusukebe commented on #1531
Hi!

In this PR #1579 by @geelen, D1 works! Thanks!

[2022-07-31 01:28] #1531 closed

[2022-07-31 06:11] brillout commented on #1580
With beta it's still off:

Error thrown while running `$ wrangler dev`:
[code]

The worker code generated by `$ wrangler publish --dry-run`:

[code]

Note how `handleTelefunc()` lives at line `500` which doesn't match the stack trace.

Neat & I can confirm that works:

[code]
[code]

I can start debugging now. And, yes, I think it'd be great to document this. This makes debugging 10x more fun.

(F

[2022-07-31 12:41] aliuq opened #1817 "How to disable local cache in dev mode"
### 🐛 Bug report

#### Describe the bug

Coding for a while, this url `localhost:8787` is not changed by any modified, e.g. wheh I comment belows if condition, it will keep the old result.

[code]

#### Environment and versions

Fill out the following information about your environment.

* operating system: `Windows 11`
* output of `wrangler -V`: `wrangler 2.0.23`
* output of `node -v`: `v16.14.2`

[2022-07-31 14:53] Skye-31 commented on #1437
It's possible #1552 fixed this?

[2022-07-31 15:07] Skye-31 opened #1587 "🐛 BUG: [pages + windows] Could not automatically determine proxy port"
### What version of `Wrangler` are you using?

2.0.24

### What operating system are you using?

Windows

### Describe the Bug

This specifically occurs when the directory which wrangler is being run in is in a different disk than the directory that netstat is located.

For example, in this case, netstat is located on my C: drive, whereas my code is located on my F: drive. It incorrectly searches

[2022-07-31 15:45] dgokcin commented on #1437
@Skye-31 I can test it tomorrow and let you know!

[2022-07-31 17:45] Skye-31 commented on #1587
Found this which may be of use? https://github.com/balena-io-modules/drivelist, as it includes which is the system drive (where netstat is located)
I imagine this issue may actually be present across all operating systems, but have no way of testing currently.

[2022-08-01 03:26] ardislu opened #1588 "🐛 BUG: fetch() does not accept URL objects when testing locally but does when deployed"
### What version of `Wrangler` are you using?

2.0.23

### What operating system are you using?

Windows

### Describe the Bug

1. Clone the example repo: https://github.com/ardislu/cloudflare-pages-url-test
2. Run `npx wrangler pages dev .`
3. Go to `http://localhost:8788/api` and see it returns an `Invalid URL` errror
4. Deploy the repo to Cloudflare Pages and see that it's now working as expect

[2022-08-01 05:59] dgokcin commented on #1437
@Skye-31 #1552 has not fixed this issue. It still happens with wrangler 2.0.23

![image](https://user-images.githubusercontent.com/33603535/182081899-8e303d1f-e02c-4d15-83ea-796e892f88e2.png)

[2022-08-01 07:53] threepointone commented on #1588
Can confirm, I can reproduce this too. This is because of the checked-fetch thing we do

[2022-08-01 07:55] threepointone commented on #1437
It's not out in a release yet, should go out today. Could you try with wrangler@beta?

[2022-08-01 09:28] dgokcin commented on #1437
just tried it with beta, same result.

![image](https://user-images.githubusercontent.com/33603535/182118217-0884204c-66a5-4095-89a4-46e79b30a148.png)

[2022-08-01 11:04] Skye-31 commented on #1437
Could you try #1589 @dgokcin

[2022-08-01 11:29] dgokcin commented on #1437
#1589 works!!!

[2022-08-01 11:32] dgokcin commented on #1437
any information about when this could be merged?

[2022-08-01 11:43] Skye-31 commented on #1437
It will need to be approved, then whenever we next do a release, it'll be good to go. You should be fine to stay on that branch until then though 🙂

[2022-08-01 11:44] dgokcin commented on #1437
great thanks!!!

[2022-08-01 12:47] thibault-deriv opened #1590 "🐛 BUG: Wrangler not honouring `CLOUDFLARE_ACCOUNT_ID` environment variable when cached config is here"
### What version of `Wrangler` are you using?

2.0.23

### What operating system are you using?

Linux

### Describe the Bug

Hello :smiley:

When trying to publish the same directory to 2 different accounts, I get auth errors when I don't clean "cached" config:

Simulating a publish to **abc** account  id:
[code]

When running wrangler with **def** account id given as environment variable:
[code]

[2022-08-01 13:32] GregBrimble opened #1592 "Rename Durable Object `script_name` to `service`?"
This would make it consistent with the service bindings.

[code]

[2022-08-01 15:57] IgorMinar commented on #1583
Thanks for the spec @JacobMGEvans. I'm in favor of your proposal.

If we are going to split the implementation into two steps, then let's ensure that we don't advertise the feature until it's ready, or clearly mark it as experimental. Thank you

[2022-08-01 16:51] thibault-deriv opened #1593 "🐛 BUG: wrangler2 tries to open a browser to authenticate in CircleCI"
### What version of `Wrangler` are you using?

2.0.23

### What operating system are you using?

Linux

### Describe the Bug

When publishing in CircleCI without providing a `CLOUDFLARE_API_TOKEN`, it tries to open a browser. It timeouts quickly, but I suppose ideally it should not try to open a browser at all.

## Demo
[code]

Will produce:
![ko-browser-circleci](https://user-images.githubusercon

[2022-08-01 17:00] petebacondarwin commented on #1593
Yeah, sorry about that. We do not try to open the browser if the terminal is non-TTY (non-interactive). But CircleCI actually has a TTY terminal so we get it wrong. For metrics capture we have gone with the `is-ci` approach, which looks for certain environment variables; so we should probably do the same here.

[2022-08-01 19:50] Hexstream commented on #1338
Surprisingly not fixed by #1552 in 2.0.24.

[2022-08-01 20:12] dgokcin commented on #1437
@Hexstream my issue is fixed with the pr referenced above.

[2022-08-01 20:16] isaac-mcfadyen commented on #1536
According to the docs an `D1_NORESULTS` error should be thrown if this is the case (not the generic error that's being produced here).

[2022-08-01 20:25] #1519 closed

[2022-08-01 20:26] caass commented on #1519
@a-robinson this should be fixed now, feel free to re-open if not!

[2022-08-01 20:40] anotherjesse opened #1596 "🚀 Feature Request: add support for --r2 binding buckets for local page functions development"
### Describe the solution

Similar to how one provides `kv` bindings when running pages with functions locally:

[code]

provide a way to bind your bucket to your page functions.

[2022-08-01 20:43] Hexstream commented on #1437
That's great to hear!

Unfortunately this doesn't seem to fix #1338, so I believe that issue should be reopened, since this appears to be a different issue after all.

[2022-08-01 20:48] Hexstream commented on #1338
Since #1437 is fixed but not this issue, I believe these are separate issues after all, hence this issue should be reopened.

[2022-08-01 20:49] a-robinson commented on #1519
Thanks @caass ! Is there an easy way to test prior to #1594 making it out or should I just wait?

[2022-08-01 20:51] caass commented on #1519
Try using the `beta` tag, e.g. `wrangler@beta`. It should contain this PR :)

[2022-08-01 20:59] a-robinson commented on #1519
Perfect, works great!

[code]

[2022-08-01 22:09] caass opened #1597 "🚀 Feature Request: Deal with placeholder values in templates during `wrangler generate`"
### Describe the solution

There are placeholder arguments like `{{name}}` used by cargo-generate in wrangler 1. It would be cool if these were supported in wrangler 2.

[2022-08-01 22:13] caass commented on #1583
👍🏻

I think this looks good! +1

[2022-08-01 22:47] Skye-31 commented on #1437
I'll have a look into resolving that in the morning 🙂

[2022-08-02 00:42] IgorMinar commented on #1583
@JacobMGEvans could you please add one more deliverable to this project: let's make this Wrangler feature easily discoverable by modifying the Dash UI to promote this feature when visiting projects that have been deployed only via the Dash.

(We'll likely need to identify these projects first, or maybe we can show the info/prompt only in the dash editor? We can work with our design folks to determ

[2022-08-02 03:08] Hexstream commented on #1338
Thank you for reopening and looking into this! ❤️

[2022-08-02 06:38] threepointone opened #1598 "bug: service bindings + wrangler dev ignores pathname when making a request"
https://github.com/cloudflare/wrangler2/blob/d4fbd0be5f5801c331a76709cb375a9386117361/packages/wrangler/templates/service-bindings-module-facade.js#L29-L31

We don't construct the full url, so only the root gets called

[2022-08-02 09:18] WalshyDev commented on #1587
Ok, so the issue for this lies here:
https://github.com/cloudflare/wrangler2/blob/d4fbd0be5f5801c331a76709cb375a9386117361/packages/wrangler/src/pages/dev.tsx#L322

Looks like Wrangler already has logic to see if a port is in use and wait for it to be available/error. We may be best just using this logic:
https://github.com/cloudflare/wrangler2/blob/d4fbd0be5f5801c331a76709cb375a9386117361/package

[2022-08-02 09:52] thibault-deriv opened #1599 "🐛 BUG: _worker.js file not in file counter"
### What version of `Wrangler` are you using?

2.0.24

### What operating system are you using?

Linux

### Describe the Bug

I have a directory with one `index.html` file, one `redirected.html` and one `_worker.js` file like the following:
[code]

I'm using wrangler 2.0.24:
[code]

When I upload the files, `_worker.js` seems not uploaded `Uploading... (2/2)` (but it is):
[code]

Same in UI, `_wor

[2022-08-02 10:12] Ucinorn opened #1600 "🚀 Feature Request: NODE shim for Cloudflare Functions"
### Describe the solution

I'm currently playing around with Cloudflare Pages, with the hope that it's an all-in-one solution for small CRUD apps for my work backed by KV.

I hoped to use npm modules like imap and nodemailer in my functions, however when I initiate my workers locally I get errors saying that native node modules are not available.

[code]

I read that this issue is resolved in regu

[2022-08-02 10:48] huw opened #1601 "🐛 BUG: Unbound workers don’t respect subrequest limit in `--local` mode"
### What version of `Wrangler` are you using?

2.0.24

### What operating system are you using?

Linux

### Describe the Bug

Miniflare recently updated to support new subrequest limits for Unbound workers (cloudflare/miniflare#274), but it requires the caller to pass `usageModel`. In `--local` mode, `wrangler dev` doesn’t support the new subrequest limits because it’s not passing the parameter.

[2022-08-02 10:55] Skye-31 commented on #1587
The purpose of this is to automatically determine which port to proxy, not to check if a port has been proxied

[2022-08-02 11:36] GregBrimble commented on #1554
We've decided to default to `0.0.0.0` for `wrangler dev` and `wrangler pages dev` by default. This issue tracks that work.

[2022-08-02 12:04] Skye-31 commented on #1338
After some testing, this is not a wrangler issue, but instead a miniflare issue.
I have created an [issue on their repo](https://github.com/cloudflare/miniflare/issues/326), and would recommend you follow that instead 🙂

[2022-08-02 12:04] #1338 closed

[2022-08-02 14:47] Hexstream commented on #1338
Awesome, thanks!!

[2022-08-02 16:55] JacobMGEvans commented on #1584
Showing the test bucket & object in dashboard
<img width="1301" alt="Screen Shot 2022-08-02 at 11 38 52 AM" src="https://user-images.githubusercontent.com/27247160/182431122-f4d5a874-aed4-4cf4-ad69-57feb0eaf86b.png">

Process showing delete in action:
https://user-images.githubusercontent.com/27247160/182431093-39ccaebe-a1a1-4ab9-a2ec-330f29e431cc.mov

[2022-08-02 19:26] #1584 closed

[2022-08-02 19:38] JacobMGEvans commented on #1596
@cloudflare/pages

[2022-08-02 19:48] JacobMGEvans commented on #1598
🏖️

[2022-08-02 19:54] JacobMGEvans commented on #1598
So rather than an empty string as a default we can have a port?

[2022-08-03 02:34] lrapoport-cf commented on #1583
@IgorMinar @JacobMGEvans i chatted with design about surfacing this feature as well as the UX/workflow implications for using `--from-dash` -- they will review and follow up with any initial questions 👍

[2022-08-03 12:04] huw commented on #1509
Hey mate—#1535 breaks source maps in `--local` mode, because it overrides `sourceRoot` like this  #([bundle.ts#L196](https://github.com/cloudflare/wrangler2/blob/7ae059b3dcdd9dce5f03110d8ff670022b8ccf02/packages/wrangler/src/bundle.ts#L196)):

[code]

When debugging in local dev mode, this tries to resolve `../../<path-to-src-root>/<file>.js` relative to `<path-to-src-root>`, which fails. Removing

[2022-08-03 13:45] #1437 closed

[2022-08-03 13:45] #1596 closed

[2022-08-03 14:41] nprogers commented on #1599
We should add a line in the CLI output indicating that the functions file was uploaded.

[2022-08-03 14:45] JacobMGEvans commented on #1601
Appreciate the work!! 🎉

[2022-08-03 14:46] GregBrimble opened #1607 "🚀 Feature Request: Automatically match up, or explicitly warn when not matching on, service binding environments"
### Describe the solution

Right now, we match on just the name of the service. It might be useful to either require users to run Worker A in environment E if they have a binding on Worker B such as:

[code]

Or at least, warn if A is running under some environment other than E.

[2022-08-03 14:51] caass commented on #1185
## Some thoughts about a design for "wrangler as an API"

After some internal discussion and exploration, we've tentatively settled on a design for worker testing that looks like treating workers as an [`EventTarget`](https://developer.mozilla.org/en-US/docs/Web/API/EventTarget), specifically the [`dispatchEvent`](https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/dispatchEvent) method.

[2022-08-03 16:40] cameron-robey commented on #1185
`devSession.on("reload", (reloadEvent) => handleReloadEvent(reloadEvent));`
Having something like this would be really useful for implementing live reloads, https://github.com/cloudflare/wrangler2/issues/1167.
The current implementation in miniflare does this in a similar way -  https://github.com/cloudflare/miniflare/blob/67d35f813cee9609369a9fd107e6bfa82101c24f/packages/http-server/src/index.ts#

[2022-08-03 18:54] threepointone commented on #1598
You need to pass on pathname from the original request appended to the protocol://host:port/

[2022-08-03 20:19] Cherry opened #1610 "🚀 Feature Request: Mass Secrets Management"
This pairs with https://github.com/cloudflare/wrangler-action/issues/79.

It would be good to have a way to set mass secrets within `wrangler`, so within `wrangler-action`, you aren't met with repetitive output, which can look very much like an error to an unsuspecting user.

Given the TTY nature of `wrangler secret put` I'm not entirely sure how this could work, other than maybe some kind of `wra

[2022-08-03 23:18] caass commented on #1185
Following a discussion with @IgorMinar, we've decided to focus solely on implementing an `EventTarget`-based interface, since 1. that's a browser standard, rather than a Node API, and 2. it has a smaller API surface (i.e. `addEventListener`, `removeEventListener`, and `dispatchEvent`).

We also considered the [`Worker`](https://developer.mozilla.org/en-US/docs/Web/API/Worker) API, but found it did

[2022-08-04 02:11] mrmcpowned opened #1612 "🐛 BUG: Service bindings don't work for scheduled workers"
### What version of `Wrangler` are you using?

2.0.24

### What operating system are you using?

Windows 10 (21H2) Build 19044.1826

### Describe the Bug

1. Create a Scheduled worker
2. Create another Fetch worker
3. Bind the Fetch worker to the Scheduled worker
4. Inside the Scheduled worker, invoke the binding's fetch
5. Trigger the Scheduled worker

Expected Result
The fetch succeeds and we ge

[2022-08-04 02:12] mrmcpowned commented on #1612
I'm not entirely sure if this is necessarily a bug or by design but I couldn't find any information about this kind of scenario.

@threepointone I noticed you've been making commits regarding bindings for wrangler, would you happen to have any insight on this?

[2022-08-04 04:01] knyzorg opened #1613 "🐛 BUG: define is not defined"
### What version of `Wrangler` are you using?

latest

### What operating system are you using?

WSL

### Describe the Bug

The following happens when I try to publish OR dev:

[code]

[2022-08-04 11:03] huw opened #1614 "🐛 BUG: Debuggers can’t resolve source maps in local dev mode"
### What version of `Wrangler` are you using?

2.0.24

### What operating system are you using?

Linux

### Describe the Bug

#1535 breaks source maps in `--local` mode, because it overrides `sourceRoot` like this  ([bundle.ts#L196](https://github.com/cloudflare/wrangler2/blob/7ae059b3dcdd9dce5f03110d8ff670022b8ccf02/packages/wrangler/src/bundle.ts#L196)):

[code]

When debugging in local dev mode

[2022-08-04 15:51] JacobMGEvans commented on #1613
Are you still having this issue?

[2022-08-04 15:54] JacobMGEvans commented on #1610
Thanks for the suggestion! I will put it up for discussion with the team 😄

[2022-08-04 16:04] #1614 closed

[2022-08-04 16:37] #1601 closed

[2022-08-04 16:41] JacobMGEvans commented on #1612
Sunil is on vacation (still might respond) however I will take a look into this and discuss it with the team. The local multi worker story is still new so this is likely a bug or necessary feature.

[2022-08-04 17:46] knyzorg commented on #1613
@JacobMGEvans I found the error to be looking as if it were a wrangler issue, but if I remove all my code it works. This is a minimal reproducible example:

[code]

Mailgun is just a REST wrapper, but it seems like it is at the root of the issue. Why would this happen?

[2022-08-04 18:20] JacobMGEvans commented on #1613
Try running your wrangler command with this flag `--node-compat`

[2022-08-04 21:09] Cherry commented on #370
This impacted another user in the Discord today: https://canary.discord.com/channels/595317990191398933/910978223968518144/1004857593656786974

Can we get some eyeballs on this issue please? It's a massive prod vs development issue when doing anything slightly advanced within Functions.

[2022-08-04 21:36] #1613 closed

[2022-08-05 09:00] imhunterand opened #1619 "🐛 BUG: CVE-2022-31150"
### What version of `Wrangler` are you using?

5.5.1

### What operating system are you using?

undici (npm)

### Describe the Bug

on undici in [package-lock.json](https://github.com/cloudflare/wrangler2/blob/-/package-lock.json).
upgrade undici to version 5.8.0 or later. For example:
[code]
[code]

# Impact
It is possible to inject CRLF sequences into request headers in Undici.
[code]
The same a

[2022-08-05 11:24] #1487 closed

[2022-08-05 11:30] #1554 closed

[2022-08-05 11:47] Skye-31 commented on #748
This is an undici bug, which will be fixed when #1520 lands

[2022-08-05 12:00] Skye-31 commented on #965
Just tried this behaviour on wrangler 2.0.24, and I am unable to reproduce. Are you still experiencing it? This may also be due to my more up to date powershell version.
[code]

[2022-08-05 15:54] JacobMGEvans opened #1624 "🚀 Feature: Source code `wrangler init --from-dash`"
### Describe the solution

Implement the first phase of `--from-dash`, getting the source code into an initialized project replacing the boilerplate code.

Additional discussion: https://github.com/cloudflare/wrangler2/discussions/1623
- This implementation should be agnostic from any source control & storage.
- Encourage augmenting projects, i.e. TypeScript, and source storage (we currently provi

[2022-08-05 17:23] Skye-31 commented on #1561
Hi, I can't repro this on wrangler 2.0.24. Are you still experiencing this?
If so could you provide an up to date version of your repo as the instructions for that seem to be out of date.

[2022-08-05 18:37] jspspike opened #1625 "Pass tail filters through inital tail request instead of websocket"

[2022-08-05 20:23] ni554n commented on #1505
This is exactly what I thought after I updated my project from 0.0.19 to 2.0.24.

Wrangler was implicitly reading KVs from `.mf/` folder that I was generating using Miniflare. But after the update, it was no longer the case.
Cloudflare doc didn't mention anything about the ephemeral nature of `--local` flag in pages dev command, which is set to true by default.

A single mention of `--experimental

[2022-08-05 23:16] vlovich opened #1627 "🐛 BUG: Missing transitive dependency on node-stdlib-browser"
### What version of `Wrangler` are you using?

2.0.16

### What operating system are you using?

Linux

### Describe the Bug

We upgraded from 0.0.30 to 2.0.16 and wrangler publish failed saying it couldn't find node-stdlib-browser. This is fixed (I think - trying it now) by installing node-stdlib-browser as an explicit dependency but it's weird to have to force downstream users to do this, no?

[

[2022-08-06 02:16] vlovich commented on #1627
Ah sorry for the noise. Our ESBuild config was importing node-stdlib-browser. It wasn't coming from Wrangler.

[2022-08-06 02:16] #1627 closed

[2022-08-06 05:30] huw commented on #1614
I’m not really sure why I thought the breakpoint was binding when I initially tested it, because it definitely isn’t now—sorry -_-. So I investigated, and the reason is because VS Code’s JS debugger will resolve a `sourceRoot` starting with `/` _relatively_ against the `cwd` that the debugger is launched from (ex. the `cwd` of the debug terminal, or the `cwd` in `launch.json`). (The code itself is

[2022-08-06 17:04] Skye-31 commented on #1570
Hi there. Trying this on the latest version of wrangler (2.0.24), I am unable to reproduce this.

Could you provide a minimal reproducible sample if you still experience this on the latest version?

[2022-08-06 20:26] Cyb3r-Jak3 opened #1630 "🐛 BUG: Unable to use D1 binding with local pages dev"
### What version of `Wrangler` are you using?

0.0.0-8fac577c (npx wrangler@d1 --version)

### What operating system are you using?

Windows

### Describe the Bug

When attempting to use D1 locally for Pages function following [the docs](https://add-r2-d1-to-functions-docs.cloudflare-docs-7ou.pages.dev/pages/platform/functions/#using-d1-database-locally) I get the following error
[code]

After ins

[2022-08-07 07:10] CMCDragonkai commented on #1561
I stopped using cloudflare pages, and have transitioned to using cloudflare workers instead. I haven't actually tested with svg files yet. I have a feeling this is not due to svg file necessarily but actually due to spaces in the file names: https://community.cloudflare.com/t/serving-files-images-with-spaces-in-their-filenames-from-cf-workers-sites/356617

I worked around this by by removing space

[2022-08-07 07:11] CMCDragonkai commented on #1561
Will close for now.

[2022-08-07 07:11] #1561 closed

[2022-08-07 07:12] CMCDragonkai commented on #1570
Stopped using pages and went back to workers.

[2022-08-07 07:12] #1570 closed

[2022-08-07 09:37] Skye-31 commented on #1561
Yes, this behaviour has been fixed in wrangler and will be available when 2.0.25 releases 🙂

[2022-08-07 10:42] PolariTOON opened #1632 "🐛 BUG: `__STATIC_CONTENT_MANIFEST` is undefined or empty in local mode"
### What version of `Wrangler` are you using?

2.0.24

### What operating system are you using?

Linux

### Describe the Bug

I have a worker that uses `kv-asset-handler` and reads the `__STATIC_CONTENT_MANIFEST` global variable to do some checks.

When previewing the project with `wrangler dev`, everything is fine, but with `wrangler dev --local` the variable appears to be undefined or an empty o

[2022-08-07 16:28] ImPlotzes opened #1633 "🐛 BUG: Incorrect "too many crons" error"
### What version of `Wrangler` are you using?

2.0.24

### What operating system are you using?

Linux

### Describe the Bug

I'm wrongly getting `workers.api.error.too_many_crons [code: 10072]`.

I'm on the Workers free plan, which has a maximum of 5 Cron Triggers per account. I have 4 already active Cron Triggers divided over 2 Workers, one script has 3 Cron Triggers and the other one has 1 Cron

[2022-08-07 18:09] toinbis opened #1635 "🐛 BUG: wrangler tail does not work of worker is deployed with Custom domain routing"
### What version of `Wrangler` are you using?

2.0.22

### What operating system are you using?

Mac

### Describe the Bug

Wrangler tail does not work if it is deployed to custom domain route. I have `console.log('message')` statement in my workers code. Upon request it does not get printed to `wrangler tail` console. Neither it gets loged in Workers UI ) Workers -> Services-> Worker-> Logs-> rea

[2022-08-08 12:17] #1214 closed

[2022-08-08 12:17] #1086 closed

[2022-08-08 16:11] mrbbot opened #1637 "🚀 Feature: `wrangler dev --local` mode powered by open-source Workers runtime"
Tracking issue for using the open-source Workers runtime announced [here](https://blog.cloudflare.com/workers-open-source-announcement/) in the implementation of `--local` mode.

- [x] cloudflare/miniflare#366
- [x] cloudflare/miniflare#367
- [x] cloudflare/miniflare#368
- [x] cloudflare/miniflare#369
- [ ] cloudflare/miniflare#370
- [x] cloudflare/miniflare#371
- [x] cloudflare/miniflare#372
- [x

[2022-08-08 16:54] JacobMGEvans opened #1638 "🚀 Feature: Config auto-generate `wrangler init --from-dash`"
### Describe the solution

The configuration auto-generation (i.e. currently `wrangler.toml`) should be auto-generated from the bindings and settings in dashboard for that particular Service Worker script.

[2022-08-08 22:06] GregBrimble opened #1640 "🐛 BUG: `wrangler pages dev dir` isn't working if there isn't a `package.json` in the parent dir"
### What version of `Wrangler` are you using?

2.0.24

### What operating system are you using?

macOS

### Describe the Bug

[code]

`cd my-dir && npx wrangler pages dev public` just gives 404s. Super weird. And we should double check that we're erroring if you provide a non-existent directory.

[2022-08-09 08:14] GregBrimble commented on #1600
Closed as dupe of #1074

[2022-08-09 08:14] #1600 closed

[2022-08-09 08:17] GregBrimble commented on #1114
Now that we're using `wrangler dev`'s server, I think we'll just conform to whatever they do. Doesn't look like there was much interest in this feature unfortunately, so I'll close it out. Happy to revisit if there is a surge of interest in the future :)

[2022-08-09 08:17] #1114 closed

[2022-08-09 08:21] GregBrimble commented on #1462
I think we'll track this over at https://github.com/cloudflare/miniflare/issues/314. Once this gets fixed and released in Miniflare, we're pretty quick to bump versions in wrangler, so it'll be fixed here shortly afterwards.

[2022-08-09 08:21] #1462 closed

[2022-08-09 08:29] GregBrimble commented on #185
Now that we're using `wrangler dev`'s server, I'll remove the `pages` label as, like @Electroid says, this could be a feature for `wrangler dev` in general.

[2022-08-09 10:15] GregBrimble commented on #174
Closing as dupe of #1074.

[2022-08-09 10:15] #174 closed

[2022-08-09 10:40] philholden commented on #1630
Same error on Mac this is trying to add a D1 store to:

https://github.com/cloudflare/miniflare-typescript-esbuild-jest

[code]

[code]

[code]

[2022-08-09 10:45] philholden commented on #1630
I was running `npm run d1` note the `node_modules/node_modules` in the first line of `mf:err`

[2022-08-09 11:30] geelen commented on #1630
This looks like the same bug as what I just fixed with https://github.com/geelen/npx-import/pull/4

I've pushed a new `wrangler@d1` `v0.0.0-205f5496`, which uses `miniflare@2.6.0-d1.4` and `npx-import@1.0.2`, can you try updating and let me know if the same error occurs?

I'll dig into it more if so!

[2022-08-09 13:13] geelen commented on #1630
@Cyb3r-Jak3 I think the first error is actually related to https://github.com/geelen/npx-import not being tested on windows yet. I've raised https://github.com/geelen/npx-import/issues/5 to track it. But it sounds like the second case, when you install `better-sqlite3` locally, is now fixed...

[2022-08-09 13:30] #1230 closed

[2022-08-09 14:20] #1142 closed

[2022-08-09 16:02] JacobMGEvans commented on #1635
Linked this issue to internal ticket, thank you for the additional context! 😄

[2022-08-09 16:07] JacobMGEvans commented on #1633
We will investigate, we may have more questions once we have started looking into it. Thank you! 😄

[2022-08-09 17:59] ajwootto commented on #973
I think this is an important thing to publish, it would have saved us from at least one production incident related to the behaviour change in the linked issue. After updating to wrangler 2, it tried to delete all of the routes we had defined manually in the dashboard which were left alone by wrangler 1, which would have left our worker unreachable in production. This is a major behavioural differ

[2022-08-09 18:01] ajwootto commented on #972
Just ran into this and nearly caused production downtime by wrangler attempting to delete our custom-defined routes. If this is supposed to be the correct behaviour it should be called out very loudly in the migration documentation because it's a super dangerous behaviour change.

[2022-08-09 18:03] KianNH commented on #973
Created https://github.com/cloudflare/cloudflare-docs/pull/5482 to address the previous comment, referencing https://github.com/cloudflare/wrangler2/issues/972#issuecomment-1125359729

[2022-08-09 19:28] lrapoport-cf commented on #1624
for posterity, leaving a note after chatting with @JacobMGEvans : would be awesome to have [multipart parsing](https://github.com/nodejs/undici/issues/974) support in undici

[2022-08-09 21:13] awthwathje commented on #1554
Yay, thanks a lot guys, you're the best!

[2022-08-09 21:14] Warfields commented on #907
@threepointone A fix has been merged to the runtime and is awaiting release. As soon as the next release this bug can be closed

CC: @JacobMGEvans As Sunil is out

[2022-08-09 22:23] Cyb3r-Jak3 commented on #1630
@geelen Confirmed second case is fixed and still errors with first case.
Let me know if I can help with https://github.com/geelen/npx-import/issues/5

[2022-08-10 09:02] philholden commented on #1630
Confirming fixed on mac when better-sqlite installed

[2022-08-10 11:00] m0ar opened #1646 "🚀 Feature Request: Export script bundle for interop with the Cloudflare terraform provider"
### Describe the solution

There should be a way of outputting the script bundle created with `wrangler`, so it's possible to develop with Wrangler while provisioning with the [Cloudflare Terraform provider](https://github.com/cloudflare/terraform-provider-cloudflare).

Background: We want to manage as much as possible with infrastructure as code. When moving to wranger2, we could drop a lot of me

[2022-08-10 14:23] GregBrimble commented on #1640
Can't repro. Must have been a local build blip or something.

[2022-08-10 14:59] Cherry opened #1652 "🐛 BUG: default `0.0.0.0` wrangler dev address not routable in Windows"
### What version of `Wrangler` are you using?

2.0.25

### What operating system are you using?

Windows 10

### Describe the Bug

When using `wrangler dev` or `wrangler pages dev`, you'll get output like this:

[code]

Previously, you could click on this and open up your browser without issue, as well as of course `b` opens this address too.

Unfortunately, at least within Windows, `0.0.0.0` isn'

[2022-08-10 18:51] lrapoport-cf commented on #63
@Electroid is this still an issue? if so, can you clarify what is not working and add repro steps?

[2022-08-10 19:06] awthwathje commented on #1652
Can confirm it's not routable in Windows, it's better to give `127.0.0.1` or `localhost` as a default.

[2022-08-10 21:47] Cherry commented on #1652
Another solution here might be to print all of the available network adapters, like `serve` does:

[code]
Windows probably isn't the only place that `0.0.0.0` won't be routable. This information could be determined from `os.networkInterfaces()`.

[2022-08-10 21:55] Erisa opened #1654 "🐛 BUG: R2 bucket creation is broken due to API change"
### What version of `Wrangler` are you using?

2.0.25

### What operating system are you using?

Ubuntu WSL

### Describe the Bug

The command `wrangler r2 bucket create bucketname` now fails due to a change in the R2 API.

Currently wrangler uses `PUT /accounts/<id>/r2/buckets/<bucketname>`, which no longer works.

https://github.com/cloudflare/wrangler2/blob/7ae059b3dcdd9dce5f03110d8ff670022b8cc

[2022-08-11 05:59] goldylucks opened #1657 "🐛 BUG: CircleCI deploy pages"
### What version of `Wrangler` are you using?

2.0.25

### What operating system are you using?

Ubuntu 20.04

### Describe the Bug

When I'm running deploy locally:
[code]

It works fine.

However in circle ci when I set it through like the docs:
[code]

I'm getting this error:
<img width="1133" alt="image" src="https://user-images.githubusercontent.com/6963212/184072660-2d89df91-e460-446c-8831-5

[2022-08-11 06:36] attraction11 commented on #1497
I had the same problem: [ERROR] Error while creating remote dev session: TypeError: fetch failed。
I use this template and add my own account_id. https://github.com/flareact/flareact-template

[2022-08-11 06:37] attraction11 commented on #1497
Hi, is there any progress?

[2022-08-11 11:09] cameron-robey commented on #66
Going to wait until open source runtime implemented
https://github.com/cloudflare/wrangler2/issues/1637

[2022-08-11 12:21] GregBrimble opened #1659 "Environments support for multiworker service registry"
### What version of `Wrangler` are you using?

2.0.25

### What operating system are you using?

macOS

### Describe the Bug

Right now, it's tricky to use environments with the multiworker service registry stuff. Right now, all services register themselves under just their name (which, in the old school environments way is `${name}-${environment}`. This makes binding to them hard because you need

[2022-08-11 15:46] KianNH opened #1660 "🐛 BUG: KV & R2 bindings with a empty string ID/name are rejected by the API rather than being caught by config validation"
### What version of `Wrangler` are you using?

2.0.24

### What operating system are you using?

Mac

### Describe the Bug

Bindings with a blank identifier, such as `id = ""` or `bucket_name = ""` for `kv_namespaces` and `r2_buckets` respectively, throw a `workers.api.error.internal_server` error as opposed to being caught by config validation in wrangler.

I assume this is since the validation c

[2022-08-11 19:55] #1598 closed

[2022-08-11 19:59] JacobMGEvans commented on #1652
@Skye-31 Since you are picking this up here is a reference to the recent PR that caused this issue in Windows, we need to be able to support the VM/Container environments as well which prefer the `0.0.0.0`

reference: https://github.com/cloudflare/wrangler2/pull/1605

[2022-08-11 20:20] Skye-31 commented on #1652
My plan is to list all available addresses, so this should cover that 🙂
Will probably get around to this tomorrow

[2022-08-11 21:08] awthwathje commented on #1652
@JacobMGEvans I filed the original issue you mentioned, and just wanted to give my two cents and can confirm that keeping the `0.0.0.0` as default while advertising all the available addresses locally in console will suit both local and remote users, including VM users. 👍

[2022-08-11 22:17] MAXOUXAX commented on #965
Can confirm this is still not working, wrangler spins up the web server, but the npm command never gets executed.
Please see the screenshot below which includes the PowerShell version, the wrangler version, and the NodeJS version
![image](https://user-images.githubusercontent.com/24844231/184251681-9adc2a69-572b-48da-9363-222dd970f2a6.png)

[2022-08-12 01:15] #870 closed

[2022-08-12 13:25] paul-go opened #1668 "🐛 BUG: Usage of "typeof module" causes error "The uploaded script has no registered event handlers. [code: 10068]""
### What version of `Wrangler` are you using?

2.0.25

### What operating system are you using?

Mac

### Describe the Bug

Attempting to deploy the following code causes the error:
"The uploaded script has no registered event handlers. [code: 10068]"

[code]

Commenting out the last line causes the deployment to function as expected:

[code]

EDIT: Seems the same thing is happening if I change th

[2022-08-12 16:02] caass opened #1669 "inline create-cloudflare"
- [x] inline create-cloudflare into wrangler
- [x] add tests
- [ ] role reverse and have create-cloudflare delegate to wrangler
- [x] update messaging to signify create-cloudflare's status
- [x] update [docs](https://developers.cloudflare.com/workers/get-started/quickstarts/) to use `wrangler generate`

[2022-08-12 16:48] #1587 closed

[2022-08-12 18:51] Skye-31 commented on #1652
Created 2 PRs. One solves the `b` button opening 0.0.0.0, in wrangler. The other solves the console log issue. Once those are both merged, will close this

[2022-08-12 18:53] #1624 closed

[2022-08-12 22:44] ObsidianMinor commented on #907
The fix has been released

[2022-08-12 22:44] #907 closed

[2022-08-13 19:24] kesavkolla opened #1672 "🐛 BUG: wrangler dev wasm not working"
### What version of `Wrangler` are you using?

2.0.25

### What operating system are you using?

Linux

### Describe the Bug

I have installed the wrangler2 using the following command:

[code]

I got the latest version of wrangler

[code]
 ⛅️ wrangler 2.0.25

When I try to run my wasm module using wrangler dev I get the following error:

[code]

[2022-08-13 20:51] Mindfulplays opened #1673 "🐛 BUG:"
### What version of `Wrangler` are you using?

2.0.25

### What operating system are you using?

WSL

### Describe the Bug

Wrangler publish fails with

[code]

I am not sure how https://github.com/cloudflare/wrangler2/issues/834 works with latest wrangler.

[2022-08-14 01:43] Cherry opened #1674 "Windows development experience"
### What version of `Wrangler` are you using?

2.0.25

### What operating system are you using?

Windows 10

### Describe the Bug

Currently, the development experience with wrangler on Windows isn't really functional. Running through the CONTRIBUTING guide:

## Starting

- Run `npm install` - lots of deprecation warnings, but success
- Run `npm start -w wrangler`

Here, you're met with the first

[2022-08-14 13:26] #1599 closed

[2022-08-14 13:45] chrstntdd commented on #1040
Hey @threepointone!
I upgraded to the beta release and it runs smoothly! Was able to cut down the `fetch` facade that gets passed to the client to only:
[code]
Many thanks for the fixture you put together here 😄

[2022-08-14 13:51] Skye-31 commented on #1674
Dropped a basic PR to fix the first 2 issues, tests are a larger one however 😅

[2022-08-14 16:16] Vladi-ed opened #1676 "🐛 BUG: wrangler kv:key put value is requited and doesn't accept empty string"
### What version of `Wrangler` are you using?

2.0.25

### What operating system are you using?

Windows

### Describe the Bug

If you run any of these commands:
`wrangler kv:key put --namespace-id=my-id "11@22.com"`
`wrangler kv:key put --namespace-id=my-id "11@22.com" ""`

you will see an error:

But value parameter is optional, so the error doesn't make sense.

[2022-08-14 16:34] Vladi-ed opened #1677 "🐛 BUG: wrangler kv:bulk put fails to load JSON with additional keys"
### What version of Wrangler are you using?
2.0.25

### What operating system are you using?
Windows

### Describe the Bug

When you run bulk upload of big JSON file (>20000 records) that contains keys other then 'key' and 'value' the wrangler freezes showing no output.
`wrangler kv:bulk put --namespace-id=my-id "C:\records-to-upload.json"`

You see it just hanging out with this message:
[code]
Al

[2022-08-15 06:19] johnpangalos opened #1678 "🐛 BUG: Direct upload requiring _routes.json"
### What version of `Wrangler` are you using?

2.0.25

### What operating system are you using?

Mac and GitHub Actions

### Describe the Bug

I'm trying to do a direct upload and all the files get uploaded but I get a strange error.

[code]

I couldn't find any info on `_routes.json` in the pages documentation. (Here is a log from GitHub Actions)[https://github.com/johnpangalos/wiggles/runs/78293

[2022-08-15 06:51] johnpangalos commented on #1678
I had a competing folder named functions which was for firebase (I’m currently trying to slowly migrate)

[2022-08-15 06:51] #1678 closed

[2022-08-15 09:13] Vladi-ed opened #1679 "wrangler Depends on vulnerable versions of miniflare"
Wrangler 2.0.25

# npm audit report

undici  <5.8.0
Severity: moderate
undici before v5.8.0 vulnerable to CRLF injection in request headers - https://github.com/advisories/GHSA-3cvr-822r-rqcc
No fix available
node_modules/undici
  @miniflare/cache  *
  Depends on vulnerable versions of undici
  node_modules/@miniflare/cache
  @miniflare/core  *
  Depends on vulnerable versions of undici
  node_mod

[2022-08-15 11:47] cameron-robey commented on #1679
Will require increasing the minimum supported node version to >= 16.8.0
Will create a pr today, just might need to think carefully when we land

[2022-08-15 13:37] #495 closed

[2022-08-15 14:14] cameron-robey commented on #1679
https://github.com/cloudflare/miniflare/pull/333

Miniflare pr

[2022-08-15 14:32] thibault-deriv commented on #1599
Thank you a lot @Skye-31 :tada:

[2022-08-15 15:24] JacobMGEvans opened #1683 "Add error message for a workaround"
A workaround to this issue is to add an account_id in your wrangler.toml, or set it as an environment variable with CLOUDFLARE_ACCOUNT_ID. We could probably add this tip in the error message itself.

_Originally posted by @threepointone in https://github.com/cloudflare/wrangler2/issues/1422#issuecomment-1189496401_
resolves #1422

[2022-08-15 15:29] #1422 closed

[2022-08-15 15:29] JacobMGEvans commented on #1422
Addressed in #1683

[2022-08-15 15:33] JacobMGEvans commented on #1610
Considering an approach involving piping in a file.

[2022-08-15 15:39] cameron-robey opened #1684 "chore: bump undici to >=5.8"
Unidici is also a dependency of wrangler itself, need to fix for that too

_Originally posted by @cameron-robey in https://github.com/cloudflare/wrangler2/issues/1679#issuecomment-1215177410_

[2022-08-15 15:59] JacobMGEvans commented on #1633
Quick win to reproduce it reliably.

[2022-08-15 16:00] JacobMGEvans commented on #1654
Internally they rolled the change back. Any follow up issues?

[2022-08-15 16:02] Erisa commented on #1654
Nah - creating buckets works now thanks to the revert.

I think the linked PR Is still open to move to the new API once it's ready: https://github.com/cloudflare/wrangler2/pull/1653#issuecomment-1213338880

[2022-08-15 16:09] JacobMGEvans commented on #1646
Have you tried utilizing the `--dry-run --outdir=dist`  for this purpose?

[2022-08-15 16:11] JacobMGEvans commented on #1632
Reference: https://github.com/cloudflare/miniflare/issues/233

[2022-08-15 16:11] #1632 closed

[2022-08-15 16:15] JacobMGEvans commented on #1590
Reference: https://github.com/cloudflare/wrangler2/issues/1683

[2022-08-15 16:19] JacobMGEvans commented on #1505
Quick win: improve documentation around utilizing Miniflare when in `--local` mode and the `--experimental-enable-local-persistence`

[2022-08-15 16:28] JacobMGEvans commented on #1677
Potentially 2 issues, the check could be a quick win.

[2022-08-15 16:29] JacobMGEvans commented on #1676
Reference fix in PR: #1667

[2022-08-15 16:29] #1676 closed

[2022-08-15 16:31] JacobMGEvans commented on #1674
Did #1675 resolve this @Cherry ?

[2022-08-15 16:33] JacobMGEvans commented on #1673
Could you provide additional logging, stacktrace and context on the issue you are having? Thank you 😄

[2022-08-15 16:34] Cherry commented on #1674
It resolves the "starting" and "building" sections, yep, thanks! The "Testing" section is a much larger one though.

[2022-08-15 16:47] Mindfulplays commented on #1673
Let's say I have 1000+ files under some directories.
Total bucket size <=450MB, each file <=25MB all within KV limits.

wrangler publish either hangs or just fails with fetch failed.
There is no other error message nor logs.

I tried to do partial uploads (10 files at a time), the first few went through, but the others got stuck with the same problem as before.
Same thing happens with the web-base

[2022-08-15 16:52] Mindfulplays commented on #1673
Posting my comment from Discord here, as I would hate to lose it. The documentation cross-referencing along with code samples all have a myriad of Wrangler 1.0 vs 2.0 syntax, Modules vs non-Modules Workers, Pages vs Sites (so many of them don't work or just plain wrong) with many of the recommended approaches still in Beta label, so the old approach is deprecated, the new approach is just not ther

[2022-08-15 16:54] cameron-robey commented on #1619
Being handled in https://github.com/cloudflare/wrangler2/issues/1684

[2022-08-15 16:54] #1619 closed

[2022-08-15 16:57] #1585 closed

[2022-08-15 16:58] JacobMGEvans commented on #1585
Let us know if you were able to get support in the Discord.

https://discord.gg/cloudflaredev

[2022-08-15 17:06] JacobMGEvans commented on #185
Discuss internally about how we want to proceed with a possible `--quiet` mode

[2022-08-15 17:11] JacobMGEvans commented on #1674
This might be resolved with the testing story with creating the Wrangler core API.

[2022-08-15 17:11] #1674 closed

[2022-08-15 17:11] #1654 closed

[2022-08-15 21:17] helloimalastair opened #1685 "🐛 BUG: `pages dev` router does not escape regex characters correctly."
### What version of `Wrangler` are you using?

2.0.25

### What operating system are you using?

Mac

### Describe the Bug

1. Create a file named `functions/*.ts`.
2. Get a `miniflare` error page showing *Unexpected MODIFIER at 1, expected END*.

[2022-08-15 23:08] imhunterand commented on #1619
**Hi!** @cameron-robey @JacobMGEvans

can I resubmit this issue to hackerone cloudflare ? and mark as **Resolved** for writeups.

[2022-08-16 02:29] kimyvgy commented on #1668
I got the same issue after integrated `@apollo/client` into my project.

[2022-08-16 03:52] Helix-DB3 commented on #185
![Image](https://user-images.githubusercontent.com/96703991/184793954-cdbc748b-7a20-4726-af3a-9ffdcfba8104.jpg)
Digital Ocean
[https://support.google.com/youtube/contact/ypc2_trans_survey?caseid=AGFLTD275dkF3RYksCvnF0R9KPxpiFUKmWRzt-HF7GcdNKHi0RQgSbok2Qw=&hl=en](app onl)
Youtu.be/pewdiepie.gg/#mine

[2022-08-16 14:32] #1685 closed

[2022-08-16 15:54] zigazajc007 opened #1688 "🐛 BUG: Path duplicated"
### What version of `Wrangler` are you using?

2.0.25

### What operating system are you using?

Linux - Fedora 36

### Describe the Bug

I ran:
[code]
inside  this directory:
[code]
and it created folders / files:
[code]
Like it duplicated the path

[2022-08-16 17:13] penalosa commented on #1683
@JacobMGEvans At a quick glance, this _seems_ like it's solved by https://github.com/cloudflare/wrangler2/pull/1502—what's remaining on this ticket?

[2022-08-16 17:30] JacobMGEvans commented on #1683
Ah nice! Looks like it didn't auto close that ticket. Feel free to pick up another quick win ticket 😄

[2022-08-16 17:30] #1683 closed

[2022-08-16 18:19] Skye-31 commented on #1453
Fwiw, R2 is supported on pages now

[2022-08-16 22:58] Hexstream commented on #1453
That's great, but note that ultimately, all `_redirects` and `_headers` file features can be emulated with Functions/Workers anyway, yet the extra convenience is clearly worth it.

[2022-08-17 07:31] thibault-deriv commented on #1590
Hello @JacobMGEvans,

I'm not sure what is the outcome of this... It is closed because it will be documented or because the behavior is going to change?

[2022-08-17 12:05] JacobMGEvans commented on #1590
I'll discuss it with the team 😁

[2022-08-17 14:04] penalosa commented on #1505
This is probably more a change for the [cloudflare/cloudflare-docs](https://github.com/cloudflare/cloudflare-docs) repo—how does this language sound?

![Screenshot 2022-08-17 at 15 01 19](https://user-images.githubusercontent.com/28503158/185153752-be60da66-5c22-4ebc-99d6-6c37eaeb0a3b.png)

[2022-08-17 14:52] caass commented on #492
I was looking with @penalosa and we think this seems doable as a quick win! It looks like it would entail:

1. Checking if the positional argument passed to `wrangler tail <url | name>` resembles a URL
2. Determining the zone ID from the URL (e.g. via [`getZoneForRoute`](https://github.com/cloudflare/wrangler2/blob/main/packages/wrangler/src/zones.ts#L29))
3. Calling [`GET zone/:zone_id/workers/ro

[2022-08-17 15:10] JacobMGEvans commented on #1505
@penalosa
Correct it is, I should be more clear which documentation next time. This is looking good, the technical writer team will follow up on the PR you make too.

[2022-08-17 15:35] #1593 closed

[2022-08-17 15:51] rozenmd commented on #1688
I was able to reproduce this issue on macOS, will start working on a fix tomorrow morning

[2022-08-17 16:22] thibault-deriv commented on #1593
@rozenmd Verified :smiley: well done!

![beta](https://user-images.githubusercontent.com/104425314/185191686-bbcbc00a-b4cb-4acf-b863-b5332b68f997.png)

[2022-08-17 16:27] heath-pack commented on #1242
Bumping this. Is there actually any plan on fixing this issue?

[2022-08-17 16:55] yjl9903 opened #1693 "Feature Request: specify pages dev proxy port manually"
### What version of `Wrangler` are you using?

2.0.26

### What operating system are you using?

Window 10 Pro 21H1

### Describe the Bug

I want to manually run my web dev server and `wrangler pages dev` server separately. I start my web dev server first, get the assets port, and then specify the proxy port, run `wrangler pages dev --proxy ...`. Wrangler still tell me to give some commands, so I

[2022-08-17 18:13] justinschier commented on #1242
Bumpity bump. Could really use a fix for this.

[2022-08-17 18:58] awthwathje opened #1697 "🐛 BUG: `UND_ERR_SOCKET` when trying `pages dev` with Durable Objects via WebSocket"
### What version of `Wrangler` are you using?

https://prerelease-registry.developers.workers.dev/runs/2842829360/npm-package-wrangler-1665

### What operating system are you using?

Linux

### Describe the Bug

Reproduction repo: https://github.com/awthwathje/remix-cf-pages-durable-objects-websocket-debug

This is concerning new functionality of `pages dev` making it possible to bind Durable Obje

[2022-08-17 22:53] IgorMinar opened #1698 "🐛 BUG: response headers for `assets` break iframes / FEATURE: make asset response headers configurable"
### What version of `Wrangler` are you using?

2.0.26

### What operating system are you using?

Mac

### Describe the Bug

I have an application that contains several `.html` files uploaded to a worker using `assets`.

These `.html` files are then loaded into an iframe created by my app.

By default this doesn't work because all assets are served with `X-Frame-Options: DENY` header:

[`response.h

[2022-08-18 06:31] d0j1a1701 opened #1699 "🐛 BUG: Login Failed"
### What version of `Wrangler` are you using?

2.0.26

### What operating system are you using?

Windows 11 21H2(22000.856)

### Describe the Bug

When I type `wrangler login` in the terminal, the OAuth authentication window pops up normally in the browser, but when I click Allow, the web page reports the error "ERR_CONNECTION_REFUSED: localhost has rejected our connection request" and the termina

[2022-08-18 06:33] dajia-1701 commented on #1699
I am located in China, so I am using the V2Ray proxy software, but it reports an error whether the proxy software is turned on or not.

The environment variables `http_proxy`, `https_proxy` and `socks_proxy` are not set.

[2022-08-18 08:00] jmlnik commented on #1633
I've encountered the same issue with `wrangler publish` with wrangler 2.0.24.

My wrangler file has the line `crons = ["0 * * * *", "0 0 * * 1", "0 0 1 * *"]`.
It works fine the first time I publish but I get the error "workers.api.error.too_many_crons" on every subsequent publish.
The workaround it to delete the crons via the dashboard before publishing.

Also weird, trying to delete a cron trigg

[2022-08-18 08:27] #1505 closed

[2022-08-18 11:59] DevinWinata opened #1701 "🐛 BUG: Starting inspector on 0.0.0.0:9229 failed: address already in use"
### What version of `Wrangler` are you using?

2.0.26

### What operating system are you using?

Pop!_OS 22.04 LTS

### Describe the Bug

run `pnpm wrangler pages dev -- next dev` in next.js project folder.
trying to run with `--inspector-port` and different port, same result.
checked with `netstat`, port 9229 and any different ports that i tried not in use.
wrangler did working (serve proxy `next

[2022-08-18 12:19] DevinWinata opened #1702 "🐛 BUG: wrangler get stuck running proxy command"
### What version of `Wrangler` are you using?

2.0.26

### What operating system are you using?

Pop!_OS 22.04 LTS

### Describe the Bug

run `wrangler pages dev -- next dev` in next.js project folder.
it will stuck at `Running next dev...` with high cpu usage (1 of my cpu cores always run at 100% for this process).
no error message.
need to close my terminal to terminate the process, `CTRL+C` in

[2022-08-18 12:29] synch-cc opened #1703 "🐛 BUG:"
### What version of `Wrangler` are you using?

2.0.26

### What operating system are you using?

Linux (Ubuntu 22.04)

### Describe the Bug

Hi,

trying to upload files via wranger to pages.

Invoking `wrangler pages publish <DIRECTORY>` gives the below error:

✘ [ERROR] ENOMEM: not enough memory, open '<FILENAME>'

The upload fails at this stage. I'm using an existing empty project, and have succ

[2022-08-18 12:39] DevinWinata opened #1704 "🐛 BUG: wrangler doesn't terminate proxied process"
### What version of `Wrangler` are you using?

2.0.26

### What operating system are you using?

Pop!_OS 22.04 LTS

### Describe the Bug

run `wrangler pages dev -- pnpm dev` or `pnpm wrangler pages dev -- pnpm dev` (both use pnpm dev as proxy command) in next.js project folder.
exit wrangler with `[x] to exit` in terminal.
wrangler did exit, but `pnpm dev` still running.
![Screenshot from 2022-08

[2022-08-18 12:55] Skye-31 commented on #1549
A warning for when both directory and port are specified was added in <https://github.com/cloudflare/wrangler2/pull/1545>.

Additionally, there's a PR for allowing no command to be specified when a port is provided, at #1694

[2022-08-18 12:55] #1549 closed

[2022-08-18 13:13] DevinWinata opened #1705 "🐛 BUG: WebSocket Next.js HMR"
### What version of `Wrangler` are you using?

2.0.26

### What operating system are you using?

Pop!_OS 22.04 LTS

### Describe the Bug

i think this might be a duplicate for WebSocket feature like #70 or #691, but for me it's a bit confusing because #1431 should add/fix this feature, right? or it still not being implemented? #1616.

here's the error, just in case it's a bug:
[code]

other softwa

[2022-08-18 13:46] lrapoport-cf commented on #285
this is being tracked in https://github.com/cloudflare/wrangler2/issues/1185, closing this out

[2022-08-18 13:46] #285 closed

[2022-08-18 13:51] lrapoport-cf commented on #1317
a part of this feature is being addressed in https://github.com/cloudflare/wrangler2/issues/1625

[2022-08-18 14:03] lrapoport-cf commented on #884
there's not much we can do to address this directly, but we can improve the user experience by adding documentation explaining the workaround provided by @martin-svedin 👍

[2022-08-18 14:08] lrapoport-cf commented on #1047
let's continue the discussion in https://github.com/cloudflare/wrangler2/issues/1345

[2022-08-18 14:08] #1047 closed

[2022-08-18 18:06] Cherry opened #1706 "🐛 BUG: Pages `env.ASSETS.fetch()` headers mutable in local dev, but not in production"
### What version of `Wrangler` are you using?

2.0.26

### What operating system are you using?

Windows

### Describe the Bug

Similar issue to https://github.com/cloudflare/wrangler2/issues/1244.

[code]

This will work fine in local `npx wrangler pages dev`, but not in production. You can work-around it with the same solution outlined in #1244, but this is obviously not ideal.

[2022-08-18 20:28] jahands commented on #1242
Thank you for the report and everyone's patience - this is now fixed

[2022-08-18 20:28] #1242 closed

[2022-08-19 00:19] davemurphysf opened #1707 "🚀 Feature Request: r2-persist flag for Pages"
### Describe the solution

It looks like the ability to persist r2 data locally only made it into functions in #1457.  It would be great to be able to use this with Pages as well, since Pages doesn't have the option to tunnel yet either.

[2022-08-19 00:48] nathanwaters opened #1708 "🐛 BUG: Cron fires too often (reproducible)"
### What version of `Wrangler` are you using?

2.0.23

### What operating system are you using?

Windows

### Describe the Bug

It should be firing _every_ 42, 43 and 44 minutes.

Instead it fires all three roughly on the hour and at roughly XX:42, XX:43, XX:44

I've reproduced the bug with a new deployment using the code below.

**wrangler.toml**
[code]
**index.js**

[code]
**Logs**

![Capture](h

[2022-08-19 02:55] daimalou opened #1709 "🐛 BUG: bundle problem when using googleapis"
### What version of `Wrangler` are you using?

2.0.26

### What operating system are you using?

Windows

### Describe the Bug

I am using two google official libraries to develope some features.

"google-auth-library": "^8.2.0",
https://github.com/googleapis/google-auth-library-nodejs

"googleapis": "^105.0.0",
https://github.com/googleapis/google-api-nodejs-client

I  wirite `node_compat = true`

[2022-08-19 06:06] keenwon commented on #1242
@jahands The _headers and _redirects are still not visible in the dashboard

<img width="1294" alt="image" src="https://user-images.githubusercontent.com/5516478/185553849-0a7c54b6-24cf-4e91-abd4-4a5fdb3c53cd.png">

<img width="737" alt="image" src="https://user-images.githubusercontent.com/5516478/185553899-07d3205e-bc9b-4e3c-ba6e-4c141b8365d9.png">

[2022-08-19 09:51] petebacondarwin commented on #1708
This is actually working as expected. When you use `/` to indicate step values for minutes, the number must be a factor of 60, otherwise you get a short period at the end of the hour. See https://en.wikipedia.org/wiki/Cron#:~:text=Note%20that%20frequencies,mere%20pattern%2Dmatcher).

[2022-08-19 09:51] #1708 closed

[2022-08-19 09:52] rozenmd commented on #1708
Hey @nathanwaters, according to [crontab guru](https://crontab.guru/#*/44_*_*_*_*), this is expected behaviour:
[code]

If you want it to just run at the Nth minute of every hour, it should probably be:
[code]

[2022-08-19 10:08] #1688 closed

[2022-08-19 10:12] nathanwaters commented on #1708
Ohhh right ok so cron is only time-based and not interval-based. The [docs](https://developers.cloudflare.com/workers/platform/cron-triggers/) threw me off with this wording:

![Capture](https://user-images.githubusercontent.com/1635052/185597025-0a52985a-7350-450d-9c26-929aecf41171.PNG)

[2022-08-19 10:14] rozenmd commented on #1708
It is interval based too, cron just handles values above 30 by scheduling the next run at the top of the hour (I think)

[2022-08-19 10:19] nathanwaters commented on #1708
I have such weird crons because I'm trying to fit 3 functions inside SendGrid's 100/day free email plan.

ie (24*60)/42 + (24*60)/43 + (24*60)/44 = ~100

[2022-08-19 14:06] WalshyDev commented on #1707
Persistence is done through the `--experimental-enable-local-persistence`. R2 should be persisting already with this, please let me know if it isn't.

[2022-08-19 14:06] #1707 closed

[2022-08-19 14:27] yudax42 opened #1711 "🐛 BUG: Wrangler dev - 504 Gateway Time-out error"
### What version of `Wrangler` are you using?

2.0.26

### What operating system are you using?

Linux

### Describe the Bug

When there are environment variables in the wrangler.toml file, it just hangs for a while and gives a 504 Gateway Timeout

Steps for replication:
1 - Create a new wrangler project
2 - Add a random environment variable to the wrangler.toml file
3 - Start the project using th

[2022-08-19 15:58] davemurphysf commented on #1707
Confirmed persistence works with this flag; thanks!

[2022-08-19 16:09] Skye-31 commented on #1705
This will be solved with #1616, like you said 🙂

[2022-08-19 16:23] Skye-31 commented on #1704
Possible that #1628 fixes this?

[2022-08-19 19:41] jahands commented on #1242
Thanks @keenwon - that is a separate issue to this issue however (which we have an internal ticket for.)
These files are getting applied, they just aren't showing up in the Dash UI

[2022-08-19 20:25] DevinWinata commented on #1705
thanks for clarifying 😀

[2022-08-19 20:25] #1705 closed

[2022-08-19 20:49] DevinWinata commented on #1704
I'm not so sure. from what I read from #1628, it's like the other way around.
I will try wrangler prerelease in #1628 to see if it fixes the issue.

[2022-08-19 21:08] DevinWinata commented on #1704
Unfortunately, wrangler prerelease in #1628 doesn't fixes the issue.

[2022-08-19 22:01] jamiesteven opened #1714 "🐛 BUG: wrangler dev doesn't use [dev] ip = '127.0.0.1' in wrangler.toml"
### What version of `Wrangler` are you using?

2.0.26

### What operating system are you using?

Mac

### Describe the Bug

New Wrangler dev defaults to 0.0.0.0.

As a result, I added the following to my wrangler.toml.
[code]

However, running `npx wrangler dev` still runs at 0.0.0. Also tried `npx wrangler dev --config wrangler.toml`.

`npx wrangler dev --ip 127.0.0.1` does work as expected.

[2022-08-19 22:01] Skye-31 commented on #1704
It does it both ways, when the main process exits, it now cleans up the child process properly, and vice versa.

If that doesn't fix it, can you create a minimal reproducible repo please 🙂

[2022-08-19 23:05] #1544 closed

[2022-08-20 02:25] Sharkgamedev commented on #1711
I'm experiencing this as well. Same steps to repro.

[2022-08-20 04:04] DevinWinata commented on #1704
is this sufficient? [wrangler-1704](https://github.com/DevinWinata/wrangler-1704)

[2022-08-20 14:05] Skye-31 opened #1715 "🚀 Feature Request: Wrangler secret put for non-production environments."
### Describe the solution

Currently, when using `wrangler secret put`, it always uses the production environment, with no way to allow it to put to other environments. This is a problem, as due to the way environments are currently created (as a separate worker), there's no way to programatically put these secrets on the correct environment without you calling the API yourself.

If the proper env

[2022-08-20 14:11] yudax42 commented on #1711
The problem was resolved

https://www.cloudflarestatus.com/incidents/75d0lh053887

[2022-08-20 14:11] #1711 closed

[2022-08-20 22:26] Skye-31 commented on #1697
This will be fixed by #1616
Thanks for the report!

[2022-08-20 22:26] #1697 closed

[2022-08-21 10:16] Skye-31 commented on #1704
Interestingly enough, I can reproduce on your next app, but can't on a sveltekit app (where it wasn't successful before that PR landed).

[2022-08-21 22:16] GregBrimble opened #1716 "🐛 BUG: [D1] ArrayBuffer inputs aren't handled"
### What version of `Wrangler` are you using?

d1

### What operating system are you using?

macOS

### Describe the Bug

The docs say ArrayBuffer inputs should be transformed to SQLite BLOBs, but right now they are just dropped.

[2022-08-22 01:22] zicklag commented on #1699
I am behind a proxy and I have my proxy environment variables set, so that most applications work fine, and I'm running into the same issue.

I've also set the `npm config` proxy settings and I'm still having the same issue.

[2022-08-22 09:47] bjesus opened #1717 "🐛 BUG: wrangler dev shows "Script not found""
### What version of `Wrangler` are you using?

2.0.26

### What operating system are you using?

Linux, Mac

### Describe the Bug

We are a Cloudflare team working on Zaraz, recently switched to using `wrangler dev` for local development purposes. Quite often when launching `wrangler dev`, we get a `1104 Script not found` error. This happens to all of our team members, usually at the same time, an

[2022-08-22 11:48] cameron-robey commented on #1668
This is due to the way we handle the two types of worker formats.
Currently we "guess" which type of worker we have - and if we find exports we assume it is a modules worker.

From `packages/wrangler/src/entry.ts` line 133:
[code]

For now you can bypass this "guessing" by using the command line flag `--no-bundle`.

Will discuss with the team about a potentially "better" way of detecting the type

[2022-08-22 12:10] threepointone commented on #1714
Nice catch! Fix up in https://github.com/cloudflare/wrangler2/pull/1718

[2022-08-22 12:23] #1660 closed

[2022-08-22 12:33] m0ar commented on #1646
@JacobMGEvans It does! Fantastic, thanks :cupcake:

[2022-08-22 12:33] #1646 closed

[2022-08-22 12:59] #1714 closed

[2022-08-22 13:10] threepointone commented on #1659
Hmm. The fix here could probably be to use the "original" name of the worker when registering the service (and adding meta like env, legacy_env to the service definition).

[2022-08-22 13:16] #1679 closed

[2022-08-22 13:16] #1684 closed

[2022-08-22 13:16] #748 closed

[2022-08-22 13:28] threepointone commented on #1612
Good catch, the facade should include scheduled worker as well. I'll take this on.

[2022-08-22 14:46] JacobMGEvans commented on #1709
Found a similar issue on Clerk here: https://github.com/clerkinc/javascript/issues/127#issuecomment-1104419384
and Fauna here: https://github.com/fauna/faunadb-js/issues/649

[2022-08-22 15:46] JacobMGEvans commented on #1717
Contacting @alankemp and will ping internally.

[2022-08-22 18:27] Cherry commented on #593
I think https://github.com/cloudflare/wrangler2/issues/1001 is somewhat related here, specifically the `content-type` section.

[2022-08-23 05:00] theprojectsomething commented on #1214
Hey thanks so much for looking into this @Skye-31 (and @GregBrimble) .. Small thing, but I've noticed that I'm getting your error the first time I run `wrangler pages dev ./` regardless of whether there are imports or not:

[code]

Could it be something to do with this [catchall filter](https://github.com/cloudflare/wrangler2/blob/687170d71d1e072a3708ef42aef58d5cdef67394/packages/wrangler/src/page

[2022-08-23 10:49] gc-kismael opened #1723 "🐛 BUG: Wrangler publish returning generic error: Authentication error [code: 10000]"
### What version of `Wrangler` are you using?

2.0.27

### What operating system are you using?

Mac/Linux

### Describe the Bug

I'm trying to build a CI/CD pipeline in CircleCI to publish a worker script to cloudflare, but it's failing in the pipeline.
It was working on my mac yesterday, but at the time of writing, it's not even working on my local.

(Side note: when it was working yesterday on

[2022-08-23 13:57] threepointone commented on #1723
`[vars]` is for configuration that's available inside the worker itself. But CLOUDFLARE_API_TOKEN is a proper "environment variable" on the system that's read during builds and deploys. You need to pass CLOUDFLARE_API_TOKEN as an environment variable (For circle ci, I found these docs that show how to do so https://circleci.com/docs/env-vars)

[2022-08-23 13:58] sidharthachatterjee commented on #1657
Hiya! We just reproduced this and figured out what's wrong. You need to remove the `environment` block in your config and ensure the variables are declared in your project settings in CircleCI.

[code]

The above should work! Cheers. Closing this for now since it isn't a wrangler bug per se. Also updating our documentation in https://github.com/cloudflare/cloudflare-docs/pull/5607

Thanks!

[2022-08-23 13:58] #1657 closed

[2022-08-23 14:01] penalosa commented on #492
@petebacondarwin Does https://github.com/cloudflare/wrangler2/pull/1700 fully address this issue?

[2022-08-23 14:02] sidharthachatterjee commented on #1108
Hiya! Sorry for the issues. We have since fixed these so I'm closing it for now. Please do update `wrangler` to optin.

If you'll still see instances of this, please feel free to open or reopen this one. Cheers!

[2022-08-23 14:02] #1108 closed

[2022-08-23 14:09] gc-kismael commented on #1723
ah understood, i'll take a look at that, thanks :)

[2022-08-23 14:12] gc-kismael commented on #1723
maybe in the `[vars]` section of this doc https://developers.cloudflare.com/workers/wrangler/configuration/ , you could add a note saying it's for use within the worker logic itself rather than a system env variable, so others don't fall in the same trap as me

[2022-08-23 14:19] GregBrimble commented on #1703
Hi!

Can you try running your wrangler command with the following environment variable?

[code]

This will try to override the amount of RAM that Node gets allocated.

[2022-08-23 14:21] synch-cc commented on #1703
Hi,

thanks for following up; I ran the NODE_OPTIONS switch as above, but that resulted in the same error.

[2022-08-23 14:25] GregBrimble commented on #1704
Thanks for the report! This seems to be limited to `pnpm` and is reported on their repo. We ask the process to terminate with a `SIGTERM` which `pnpm` doesn't seem to handle perfectly right now.

https://github.com/pnpm/pnpm/issues/2653

[2022-08-23 14:25] #1704 closed

[2022-08-23 14:27] GregBrimble commented on #1703
Are you running this on your own machine, or on some cloud machine? Can you try again with `8192` just to be absolutely sure?

[2022-08-23 14:32] synch-cc commented on #1703
I tried all the way up to 32768 but to no avail.

[2022-08-23 14:32] synch-cc commented on #1703
It's a VirtualBox machine on my own machine, with ample resources allocated.

[2022-08-23 14:35] GregBrimble commented on #1693
Hi! Thanks for filing this request. We'll keep this ticket open to see if others are interested in it, but in the meantime, you could do something like:

[code]

[2022-08-23 15:00] #1446 closed

[2022-08-23 15:11] GregBrimble commented on #1703
Ah, that's maybe interesting. If you run this on your host machine, does it work?

[2022-08-23 16:16] gc-kismael commented on #1723
Hi again, so both on my mac and within circle ci, i have set environment variables at the system level (for circle CI, i have set it via the project settings area). But still i'm getting the same code 10000 error message

previously was also setting the CLOUDFLARE_API_TOKEN in the context environment variables (no. 6 in https://circleci.com/docs/env-vars#order-of-precedence )as part of some substi

[2022-08-23 17:08] penalosa commented on #1633
Just to update here—we've confirmed this is a issue and are working on fixing it (as you suspected, the issue is with the addition of old triggers and replaced triggers)

[2022-08-23 17:32] threepointone commented on #1698
tbh, the defaults for the current assets implementation were copy-pasted from an example, so they're totally up for changes to be better defaults.
https://github.com/cloudflare/wrangler2/blob/eb75413ec35f6d4f6306601f4d5c9d058f794a18/packages/wrangler/templates/serve-static-assets.ts#L47-L51

We also want to implement `_headers` support much like pages has.

So as as quick fix, I'd be happy to acce

[2022-08-23 20:19] mglikesbikes commented on #1214
+1 from me

[2022-08-24 08:46] gc-kismael commented on #1723
up until this morning, i never set my api token or any variable under the name `CF_API_TOKEN`.

Assuming that potentially this might fix it, this morning i have set CF_API_TOKEN=<my-api-token> on my mac os .zshrc env. variables, and re-ran my publish command, but still i'm getting the same error.

I'm confident i have the correct account id, i have copied it from the same page that is displayed my

[2022-08-24 14:47] sidharthachatterjee commented on #1701
Hey there! Thank you for submitting this bug report.

I can definitely reproduce this issue. I'm not sure why it's occurring yet though. @petebacondarwin Any ideas?

[2022-08-24 14:52] sidharthachatterjee commented on #1701
@threepointone I appreciate you!

[2022-08-25 04:26] oscartbeaumont commented on #1439
This still doesn't seem to be fixed when you run `pnpm create cloudflare my-project worker-rust`. Would be good to get a fix out.

[2022-08-25 12:41] Resonious opened #1732 "Update `esbuild` to latest version (wrangler dev does not work on Android)"
### What version of `Wrangler` are you using?

2.0.27

### What operating system are you using?

Android

### Describe the Bug

UPDATE: this is actually an esbuild bug: https://github.com/evanw/esbuild/issues/2640. Therefore, we can probably fix this either by not using esbuild's watch feature or by fixing the bug in esbuild itself.

I realize I may be a freak for developing on Android, but alas I

[2022-08-26 14:58] JacobMGEvans opened #1737 "🚀 Feature: Messaging when running `publish` & `init --from-dash`"
### Describe the solution

Add messaging for the `wrangler publish` & `wrangler init --from-dash` that informs the user that this can effect changes in in the Dashboard, and that it is not synchronized locally if changes are made in the Dashboard.

Suggested message: "After using <publish/init --from-dash> command it is suggested using the CLI, changes made in the Dashboard will not be synchronize

[2022-08-26 15:10] tianluanchen opened #1738 "🐛 BUG: Support http proxies for `wrangler dev`"
### What version of `Wrangler` are you using?

2.0.22

### What operating system are you using?

windows 10

### Describe the Bug

[code]
Logging in is fine, but when posting a project it fails to capture, setting the http proxy is useless, even though the http proxy allows the browser to open all websites normally

[2022-08-26 15:23] threepointone commented on #276
We merged a change into wrangler that will, on publish, NOT delete any vars that were previously defined, and aren't included in wrangler.toml any more. This should remove some confusion about vars that disappear on publish.

This also means devs are free to define vars with the dashboard, and edit them at any time, and they won't be blown away or updated when `wrangler publish` is called. Note to

[2022-08-26 15:23] #276 closed

[2022-08-26 17:51] kckeiks opened #1739 "🐛 BUG: could not resolve node:* when upgrading to node-fetch v3"
### What version of `Wrangler` are you using?

2.0.26

### What operating system are you using?

Linux

### Describe the Bug

I started a new project from the Workers tutorial. It's just a simple program that uses `node-fetch` to make a GET request to an API. Everything was fine until I upgraded `node-fetch` from V2 to V3 to use a particular feature. When I run `wrangler dev`, I get this error:

[

[2022-08-27 11:42] Plausible0Bug opened #1741 "🐛 BUG: Incorrect error message suggested when publishing pages while multiple accounts available"
### What version of `Wrangler` are you using?

wrangler-action@2.0.0

### What operating system are you using?

GitHub actions

### Describe the Bug

Got following error:
[code]
When publishing using GitHub actions.
However as far as I'm concerned pages don't support `wrangler.toml`

[2022-08-27 12:27] threepointone commented on #1741
Try setting the CLOUDFLARE_ACCOUNT_ID environment variable (corresponding to one of those IDs)

[2022-08-27 21:20] Plausible0Bug commented on #1741
I guess I can already solve my issue by using following config in GitHub action:
[code]

Where the accountId can be set manually.

I mean the error message itself is buggy, it **should not** suggest user to set account_id in wrangler.toml as it is useless when publishing pages.

[2022-08-28 04:42] osdiab opened #1742 "🚀 Feature Request: Multiple Pages Projects from Same Github Repo"
### Describe the solution

Not sure if this is the right place to post this, but I would love for Cloudflare Pages to support multiple projects from the same repo. I have two use cases:

## Multiple deploy environments

My app has separate internal, staging, and production deployments. All of them run the same code but are tracked in different branches. To achieve this today with Cloudflare Pages

[2022-08-28 05:20] jjjrmy opened #1743 "🐛 BUG: Cannot Wrangler Dev with D1 (NuxtJS)"
### What version of `Wrangler` are you using?

wrangler@d1 0.0.0-7c228171

### What operating system are you using?

Mac

### Describe the Bug

As soon as I add the d1_database to my `wrangler.toml` I get the error `No matching export in ".output/server/index.mjs" for import "default"` when running `npx wrangler@d1 dev`

**Error:**
[code]

**wrangler.toml**
[code]
as soon as I take that out of my

[2022-08-28 13:05] isaac-mcfadyen commented on #1739
Can I ask why it's not possible for you to use the Workers built-in fetch? It's almost identical in all respects.

`node-fetch` is almost identical but uses a lot of Node libraries that Workers don't include because Workers are not Node. I'd strongly encourage you to not use `node-fetch` in Workers because even if you managed to (somehow) polyfill the missing dependencies there's really not much d

[2022-08-28 16:04] threepointone opened #1744 "feature request: accept npm package names as entrypoints"
Let's say I made an application, like a session config service built with Workers, named `workers-session-service` on npm. I'd like to be able to be able to share it with folks, and let them be able to deploy it without writing any code. So, this should work:

- `npm install workers-session-service`: installs the package
- `npx wrangler dev workers-session-service`: should spin it up locally
- `np

[2022-08-28 16:26] kckeiks commented on #1739
Initially I was using the builtin fetch but I needed the `insecureHTTPParser` option to experiment with a particular API. AFAIK neither node-fetch V2 nor the builtin fetch support it.

Good to know. Thanks.

[2022-08-28 18:18] kckeiks commented on #1738
I'm having the same problem with wrangler 2.0.26 but I can't even log in.

[2022-08-29 07:44] synch-cc commented on #1703
Ubuntu machine causing the issue; host machine (Mac) working happily.

[2022-08-29 09:23] rozenmd commented on #1738
Hi @tianluanchen, could you please clarify what you mean by "setting the http proxy is useless"? Is there an error message?

What steps did you take to setup the http proxy?

[2022-08-29 12:03] rozenmd commented on #1738
@Lifeni - do you mind trying something for me?

Does it work if you try run:

[code]
?

[2022-08-29 12:28] Lifeni commented on #1738
@rozenmd
It still doesn't work, the error message is the same as before (ERR_SSL_WRONG_VERSION_NUMBER).

But the error message sometimes becomes `Error: read ECONNRESET` or `Error: Client network socket disconnected before secure TLS connection was established`. This may be related to my bad network, I will try again after a while.

[2022-08-29 16:23] rozenmd opened #1746 "🐛 BUG: Prod/release build on main seems to fail when multiple packages need releasing"
### What version of `Wrangler` are you using?

wrangler@latest

### What operating system are you using?

GitHub

### Describe the Bug

https://github.com/cloudflare/wrangler2/runs/8073062908?check_suite_focus=true

[2022-08-29 21:43] GregBrimble commented on #1703
That's really useful information. Thank you! We'll dig into it and see if we can reproduce and find a fix.

[2022-08-30 12:28] #492 closed

[2022-08-30 13:02] rozenmd commented on #1717
After chatting about this with @petebacondarwin and @bjesus, we think the issue might be a worker name collision, will make a PR with a fix

[2022-08-30 15:50] ascandella opened #1749 "🐛 BUG: wrangler hangs after Next.js server restarted"
### What version of `Wrangler` are you using?

2.0.28

### What operating system are you using?

Mac

### Describe the Bug

I have a Cloudflare worker proxying requests to a Next.js server. In development, this opens a Websocket request for Hot Module Reloading (HMR). When the Next.js server is restarted, this leaves the Cloudflare / `wrangler` worker in a hung state, where it says "Miniflare proc

[2022-08-30 15:52] vlovich opened #1750 "🐛 BUG: Variable bindings that aren't strings are rendered incorrectly"
### What version of `Wrangler` are you using?

2.0.28

### What operating system are you using?

Linux

### Describe the Bug

When you have a structured binding variable, it's rendered as "[object Object]":

[code]

prints
[code]

It would be nicer if it were rendered more elegantly. In fact, the rendering is incorrect in some cases. If I have
[code]

this renders
[code]

even though in actuality

[2022-08-30 17:41] #1739 closed

[2022-08-30 17:46] rozenmd commented on #185
Pretty sure I accidentally implemented this as part of https://github.com/cloudflare/wrangler2/pull/1538 - once it's merged we just need a flag/setting to expose it as an option for regular dev.

[2022-08-30 19:21] kpietraszko commented on #1672
Yeah, it's broken. Same thing on Windows, and when trying to `publish`

[2022-08-31 10:59] celso commented on #1743
can you share the full wrangler.toml (w/o secrets) and the source code of your worker script?

[2022-08-31 12:50] rozenmd commented on #1738
@Lifeni - so it's a bug, `wrangler dev` doesn't handle proxies correctly, `wrangler dev --local` should work though

Can you confirm whether other wrangler commands work, like `wrangler publish` and `wrangler whoami`?

[2022-08-31 13:02] rozenmd commented on #1432
Implementing a fix to this in this PR: https://github.com/cloudflare/wrangler2/pull/1538

[2022-08-31 13:32] rozenmd commented on #178
https://github.com/cloudflare/kv-worker-migrate is the best way to do this unless KV changes how it works under the hood - can't proceed further with this issue on the wrangler side.

[2022-08-31 13:40] JacobMGEvans opened #1751 "Feature: `wrangler init --from-dash` with an environment"
Currently the `wrangler init --from-dash` only grabs the default environment for initializing a project. We eventually would like to be able to choose which environment is initialized in the project.

i.e. `wrangler init --from-dash my-worker --env staging`

_Originally posted by @petebacondarwin in https://github.com/cloudflare/wrangler2/pull/1729#discussion_r958343133_

[2022-08-31 13:44] petebacondarwin commented on #1317
Adding @jspspike to this, as he and I are designing the next phase of the tail improvements that hopefully will allow us to remove the limiter when filters are applied.

[2022-08-31 13:52] rozenmd opened #1752 "🚀 Feature Request: unstable_dev should make it possible to specify a path when fetching"
### Describe the solution

- Workers can have paths
- `unstable_dev` should let you pass in a URL (and we'll strip out the host), attach the path to `localhost:8788/` or wherever the dev server is running, and hit your worker for you

---

We need to change the function signature of fetch to match real fetch here: https://github.com/cloudflare/wrangler2/blob/main/packages/wrangler/src/api/dev.ts#L

[2022-08-31 13:52] rozenmd commented on #1752
TODO once https://github.com/cloudflare/wrangler2/pull/1538 is merged

[2022-08-31 14:05] rozenmd commented on #1497
`wrangler dev` does not support proxies, `wrangler dev --local` should fix it temporarily.

Adding this to the backlog.

[2022-08-31 14:06] rozenmd commented on #1699
@zicklag just to confirm, is it `wrangler login` for you too?

[2022-08-31 14:12] Lifeni commented on #1738
@rozenmd

Two days ago, neither `wrangler dev` nor `wrangler publish` worked properly, only `wrangler dev` would give detailed error messages.

After that, I changed my proxy software. `wrangler whoami` and `wrangler whoami` seem to work fine, but `wrangler dev` still doesn't work. Unlike before, it prompts that the upload is complete, but fails to load the page. Below is the new error message.

<

[2022-08-31 14:24] Lifeni commented on #1738
@rozenmd   `wrangler dev --local` works fine, thank you!

[2022-08-31 14:27] zicklag commented on #1699
Yep. :+1:

[2022-08-31 14:55] jrf0110 commented on #192
Hi there @AndrewLane

This is an error thrown from the Cloudflare Workers runtime. The [Request.cache](https://developer.mozilla.org/en-US/docs/Web/API/Request/cache) is not implemented in Workers.

[code]

[2022-08-31 16:14] petebacondarwin opened #1755 "Support correct asset paths in Jest"
In production, the Wrangler source code is bundled into a single file that is stored in the `packages/wrangler/wrangler-dist` directory. Therefore any use of `__dirname` or similar in the source code is relative to this `wrangler-dist` directory. In particular we access template files for `wrangler init` functionality, and also the miniflare binary for `wrangler dev`.

In testing, Jest does not bu

[2022-08-31 16:24] rozenmd commented on #1755
It's also not as easy as this:
[code]

As we run `local-mode-tests` against wrangler from a different directory again

[2022-08-31 16:26] krishan commented on #1742
We’re currently evaluating Cloudflare Pages for our company, and this issue is the one big blocker for us.

I would love to have some kind of solution for this.

(not affiliated with OP)

[2022-09-01 02:38] JacobMGEvans commented on #185
"accidental feature" should be a new PR tag lol

[2022-09-01 13:05] rozenmd opened #1756 "Reimplement dotenv.test.ts"
With `unstable_dev`, we deleted dotenv.test.ts. We should bring it back in a more useful form:

[code]

[2022-09-01 14:10] jjjrmy commented on #1743
@celso

[code]

[2022-09-01 17:12] aseure opened #1759 "🚀 Feature Request: Report exception to users"
### Describe the solution

Hello team,

Today, we've spent quite some time trying to guess why `wrangler` was correctly starting (as we were seeing the Wrangler version header being displayed) but silently failing with an exit code of 1 when running from inside some of our build scripts in our CI.

Turns out, the exception thrown in [`cli.ts` here](https://github.com/cloudflare/wrangler2/blob/3904

[2022-09-01 17:34] jjjrmy opened #1761 "🚀 Feature Request: Do Not Delete Assets On Upload (Allow Multiple "Folders")"
### Describe the solution

I'd like to be able to upload to "folders" inside of KV, and only delete/replace the ones from that project.

_For example:_
I have multiple repositories for component libraries that compile to 2 files (usually), a JS and CSS file.
I'd like to have them uploaded to to same KV like `<reponame>/<filename>`.

Currently when you publish it will diff all the files and delete

[2022-09-02 03:14] nicksrandall commented on #1185
I have a use case where I would love to programmatically publish a worker where the files are never actually written to disk. I create them in memory and would love to be able to pass that to some sort of "wrangler api" to publish it for me.

[2022-09-02 03:48] Infinitay commented on #1709
Has anyone found a solution to this issue? Facing this myself when trying to use the got (https://github.com/sindresorhus/got) package

[2022-09-02 08:59] #1755 closed

[2022-09-02 14:10] rikhuijzer commented on #1190
Answered in https://github.com/cloudflare/wrangler2/issues/1050#issuecomment-1129945293 by @GregBrimble. Set `--branch=foo` where `foo` is the name of your production branch. By default the production branch is called `production`. So, use

[code]

[2022-09-02 14:41] JacobMGEvans commented on #1709
Are you utilizing the `--node-compat` flag or in wrangler.toml using `node_compat = true`?

[2022-09-02 15:03] JacobMGEvans commented on #1185
This might be something you would be interested to track https://github.com/cloudflare/wrangler2/pull/1538